body.dark-theme {
  background-color: black;
}
body.dark-theme .round-block {
  border-color: #555555;
  background-color: #3b3b3b;
  color: white;
  box-shadow: 5px 5px 15px rgba(39, 34, 155, 0.67);
}
body.dark-theme .menu {
  color: #dddddd;
}
body.dark-theme .menu li {
  color: #dddddd;
  border-color: #DADADA;
}
body.dark-theme .menu ul li.disabled {
  color: #3a7abc;
  /*
						color: #888888;
						background-color: #333333;
						*/
}
body.dark-theme .coin-type {
  background-color: #444444;
}
body.dark-theme .coin-type .coin {
  background-color: #333333;
  border-color: #555555;
}
body.dark-theme .coin-type .coin em {
  color: #eee;
  background-color: #222222;
  border-radius: 5px;
}
body.dark-theme .coin-type .coming-soon {
  color: #eee;
}
body.dark-theme .coin-grid-row {
  background-color: #444444;
}
body.dark-theme .donate-reminder {
  border-color: #555555;
  background-color: #444444;
  color: #ffffff;
}
body.dark-theme .section.donate .coin .donate-address {
  border-color: #555555;
  background-color: #555555;
  color: #ffffff;
}
body.dark-theme label {
  color: white;
}
body.dark-theme label.left-label {
  background-color: #555555;
  border-color: #888888;
  color: white;
}
body.dark-theme .trust-items .trust-item {
  background-color: #555555;
  border-color: #888888;
}
body.dark-theme .trust-items .trust-item em {
  background-color: #666666;
}
body.dark-theme .warning {
  color: #ffffff;
  background-color: #630000;
  box-shadow: 1px 1px 50px #FF0000;
}
body.dark-theme .warning a,
body.dark-theme .warning a:visited {
  color: #ddd;
}
body.dark-theme .warning p.subtext {
  color: #ffffff;
}
body.dark-theme .security-risks .risk {
  color: #dddddd;
  background-color: #333333;
  border-color: #888888;
}
body.dark-theme .security-risks .risk:after {
  background-color: #666666;
}
body.dark-theme .security-risks .risk.at-risk:after {
  background-color: #AD0000;
}
body.dark-theme .security-risks .risk.safe .risk-status:after {
  background-color: #00AD00;
}
body.dark-theme .security-risks .risk-category {
  background-color: #222222;
  border-color: #888888;
}
body.dark-theme .security-risks .risk-fix {
  background: #444444;
}
body.dark-theme ul#coin-setup-menu li {
  color: white;
}
body.dark-theme ul#coin-setup-menu li.disabled {
  color: #333;
}
body.dark-theme .selector-grid-row {
  background-color: #333;
}
body.dark-theme .design-type {
  background: #333;
}
body.dark-theme .design-type .design {
  border-color: #ccc;
}
body.dark-theme .frame-instructions .frame-description {
  background-color: #222;
}
body.dark-theme .frame-instructions .frame-difficulty {
  background: #222;
}
body.dark-theme .instructions {
  background-color: #444;
  border-color: #222244;
  color: #dddddd;
  box-shadow: 1px 1px 26px #ffffff;
}
body.dark-theme .instructions .subtext {
  color: white;
}
body.dark-theme .selecting .frame-grid-row-header:hover {
  background-color: #444;
}
body.dark-theme .dismissable .close-button {
  background-image: url('../images/close_dark.png');
}
body.dark-theme .help-bubble {
  background-color: #000022;
  border-color: #222244;
  color: #dddddd;
}
body.dark-theme .help-toggle {
  background-image: url('../images/help_dark.png');
}
body.dark-theme h3,
body.dark-theme h4 {
  color: white;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}
body.dark-theme h5 {
  color: #e0e0e0;
}
body.dark-theme input[type=text],
body.dark-theme input[type=password],
body.dark-theme textarea {
  background-color: #666666;
  border-color: #888888;
  color: white;
}
body.dark-theme .frame-type,
body.dark-theme .design-type {
  background-color: #222;
}

body.dark-theme .minimizable .minimize-button
{
background-image: url('../images/minus_dark.png');
}
body.dark-theme .minimizable.minimized .minimize-button
{
background-image: url('../images/plus_dark.png');
}