
.abstract-1 .coin-wallet,
.selector.abstract-1-design
{
background-image: url('../images/wallet-backgrounds/Abstract-1.jpg');
}
.abstract-2 .coin-wallet,
.selector.abstract-2-design
{
background-image: url('../images/wallet-backgrounds/Abstract-2.jpg');
}
.abstract-3 .coin-wallet,
.selector.abstract-3-design
{
background-image: url('../images/wallet-backgrounds/Abstract-3.jpg');
}
.abstract-4 .coin-wallet,
.selector.abstract-4-design
{
background-image: url('../images/wallet-backgrounds/Abstract-4.jpg');
}
.abstract-5 .coin-wallet,
.selector.abstract-5-design
{
background-image: url('../images/wallet-backgrounds/Abstract-5.jpg');
}
.abstract-6 .coin-wallet,
.selector.abstract-6-design
{
background-image: url('../images/wallet-backgrounds/Abstract-6.jpg');
}
.abstract-7 .coin-wallet,
.selector.abstract-7-design
{
background-image: url('../images/wallet-backgrounds/Abstract-7.jpg');
}
.abstract-8 .coin-wallet,
.selector.abstract-8-design
{
background-image: url('../images/wallet-backgrounds/Abstract-8.jpg');
}
.abstract-9 .coin-wallet,
.selector.abstract-9-design
{
background-image: url('../images/wallet-backgrounds/Abstract-9.jpg');
}
.abstract-10 .coin-wallet,
.selector.abstract-10-design
{
background-image: url('../images/wallet-backgrounds/Abstract-10.jpg');
}
.abstract-11 .coin-wallet,
.selector.abstract-11-design
{
background-image: url('../images/wallet-backgrounds/Abstract-11.jpg');
}
.abstract-12 .coin-wallet,
.selector.abstract-12-design
{
background-image: url('../images/wallet-backgrounds/Abstract-12.jpg');
}
.abstract-13 .coin-wallet,
.selector.abstract-13-design
{
background-image: url('../images/wallet-backgrounds/Abstract-13.jpg');
}
.abstract-14 .coin-wallet,
.selector.abstract-14-design
{
background-image: url('../images/wallet-backgrounds/Abstract-14.jpg');
}
.abstract-15 .coin-wallet,
.selector.abstract-15-design
{
background-image: url('../images/wallet-backgrounds/Abstract-15.jpg');
}
.abstract-16 .coin-wallet,
.selector.abstract-16-design
{
background-image: url('../images/wallet-backgrounds/Abstract-16.jpg');
}
.abstract-17 .coin-wallet,
.selector.abstract-17-design
{
background-image: url('../images/wallet-backgrounds/Abstract-17.jpg');
}
.abstract-18 .coin-wallet,
.selector.abstract-18-design
{
background-image: url('../images/wallet-backgrounds/Abstract-18.jpg');
}
.abstract-19 .coin-wallet,
.selector.abstract-19-design
{
background-image: url('../images/wallet-backgrounds/Abstract-19.jpg');
}
.abstract-20 .coin-wallet,
.selector.abstract-20-design
{
background-image: url('../images/wallet-backgrounds/Abstract-20.jpg');
}
.abstract-21 .coin-wallet,
.selector.abstract-21-design
{
background-image: url('../images/wallet-backgrounds/Abstract-21.jpg');
}
.abstract-22 .coin-wallet,
.selector.abstract-22-design
{
background-image: url('../images/wallet-backgrounds/Abstract-22.jpg');
}
.abstract-23 .coin-wallet,
.selector.abstract-23-design
{
background-image: url('../images/wallet-backgrounds/Abstract-23.jpg');
}
.abstract-24 .coin-wallet,
.selector.abstract-24-design
{
background-image: url('../images/wallet-backgrounds/Abstract-24.jpg');
}
.abstract-25 .coin-wallet,
.selector.abstract-25-design
{
background-image: url('../images/wallet-backgrounds/Abstract-25.jpg');
}
.abstract-26 .coin-wallet,
.selector.abstract-26-design
{
background-image: url('../images/wallet-backgrounds/Abstract-26.jpg');
}
.abstract-27 .coin-wallet,
.selector.abstract-27-design
{
background-image: url('../images/wallet-backgrounds/Abstract-27.jpg');
}
.abstract-28 .coin-wallet,
.selector.abstract-28-design
{
background-image: url('../images/wallet-backgrounds/Abstract-28.jpg');
}
.abstract-29 .coin-wallet,
.selector.abstract-29-design
{
background-image: url('../images/wallet-backgrounds/Abstract-29.jpg');
}

.abstract-30 .coin-wallet,
.selector.abstract-30-design
{
background-image: url('../images/wallet-backgrounds/Abstract-30.jpg');
}
.abstract-31 .coin-wallet,
.selector.abstract-31-design
{
background-image: url('../images/wallet-backgrounds/Abstract-31.jpg');
}
.abstract-32 .coin-wallet,
.selector.abstract-32-design
{
background-image: url('../images/wallet-backgrounds/Abstract-32.jpg');
}
.abstract-33 .coin-wallet,
.selector.abstract-33-design
{
background-image: url('../images/wallet-backgrounds/Abstract-33.jpg');
}
.abstract-34 .coin-wallet,
.selector.abstract-34-design
{
background-image: url('../images/wallet-backgrounds/Abstract-34.jpg');
}
.abstract-35 .coin-wallet,
.selector.abstract-35-design
{
background-image: url('../images/wallet-backgrounds/Abstract-35.jpg');
}
.abstract-36 .coin-wallet,
.selector.abstract-36-design
{
background-image: url('../images/wallet-backgrounds/Abstract-36.jpg');
}
.abstract-37 .coin-wallet,
.selector.abstract-37-design
{
background-image: url('../images/wallet-backgrounds/Abstract-37.jpg');
}
.abstract-38 .coin-wallet,
.selector.abstract-38-design
{
background-image: url('../images/wallet-backgrounds/Abstract-38.jpg');
}
.abstract-39 .coin-wallet,
.selector.abstract-39-design
{
background-image: url('../images/wallet-backgrounds/Abstract-39.jpg');
}
.abstract-40 .coin-wallet,
.selector.abstract-40-design
{
background-image: url('../images/wallet-backgrounds/Abstract-40.jpg');
}
.abstract-41 .coin-wallet,
.selector.abstract-41-design
{
background-image: url('../images/wallet-backgrounds/Abstract-41.jpg');
}
.abstract-42 .coin-wallet,
.selector.abstract-42-design
{
background-image: url('../images/wallet-backgrounds/Abstract-42.jpg');
}
.abstract-43 .coin-wallet,
.selector.abstract-43-design
{
background-image: url('../images/wallet-backgrounds/Abstract-43.jpg');
}
.abstract-44 .coin-wallet,
.selector.abstract-44-design
{
background-image: url('../images/wallet-backgrounds/Abstract-44.jpg');
}
.abstract-45 .coin-wallet,
.selector.abstract-45-design
{
background-image: url('../images/wallet-backgrounds/Abstract-45.jpg');
}
.abstract-46 .coin-wallet,
.selector.abstract-46-design
{
background-image: url('../images/wallet-backgrounds/Abstract-46.jpg');
}
.abstract-47 .coin-wallet,
.selector.abstract-47-design
{
background-image: url('../images/wallet-backgrounds/Abstract-47.jpg');
}
.abstract-48 .coin-wallet,
.selector.abstract-48-design
{
background-image: url('../images/wallet-backgrounds/Abstract-48.jpg');
}
.abstract-49 .coin-wallet,
.selector.abstract-49-design
{
background-image: url('../images/wallet-backgrounds/Abstract-49.jpg');
}
.abstract-50 .coin-wallet,
.selector.abstract-50-design
{
background-image: url('../images/wallet-backgrounds/Abstract-50.jpg');
}
.abstract-51 .coin-wallet,
.selector.abstract-51-design
{
background-image: url('../images/wallet-backgrounds/Abstract-51.jpg');
}
.abstract-52 .coin-wallet,
.selector.abstract-52-design
{
background-image: url('../images/wallet-backgrounds/Abstract-52.jpg');
}
.abstract-53 .coin-wallet,
.selector.abstract-53-design
{
background-image: url('../images/wallet-backgrounds/Abstract-53.jpg');
}
.abstract-54 .coin-wallet,
.selector.abstract-54-design
{
background-image: url('../images/wallet-backgrounds/Abstract-54.jpg');
}


.bricks-1 .coin-wallet,
.selector.bricks-1-design
{
background-image: url('../images/wallet-backgrounds/Bricks-1.jpg');
}
.bricks-2 .coin-wallet,
.selector.bricks-2-design
{
background-image: url('../images/wallet-backgrounds/Bricks-2.jpg');
}
.bricks-3 .coin-wallet,
.selector.bricks-3-design
{
background-image: url('../images/wallet-backgrounds/Bricks-3.jpg');
}
.bricks-4 .coin-wallet,
.selector.bricks-4-design
{
background-image: url('../images/wallet-backgrounds/Bricks-4.jpg');
}
.bricks-5 .coin-wallet,
.selector.bricks-5-design
{
background-image: url('../images/wallet-backgrounds/Bricks-5.jpg');
}
.bricks-6 .coin-wallet,
.selector.bricks-6-design
{
background-image: url('../images/wallet-backgrounds/Bricks-6.jpg');
}
.bricks-7 .coin-wallet,
.selector.bricks-7-design
{
background-image: url('../images/wallet-backgrounds/Bricks-7.jpg');
}
.bricks-8 .coin-wallet,
.selector.bricks-8-design
{
background-image: url('../images/wallet-backgrounds/Bricks-8.jpg');
}
.bricks-9 .coin-wallet,
.selector.bricks-9-design
{
background-image: url('../images/wallet-backgrounds/Bricks-9.jpg');
}
.bricks-10 .coin-wallet,
.selector.bricks-10-design
{
background-image: url('../images/wallet-backgrounds/Bricks-10.jpg');
}
.bricks-11 .coin-wallet,
.selector.bricks-11-design
{
background-image: url('../images/wallet-backgrounds/Bricks-11.jpg');
}
.bricks-12 .coin-wallet,
.selector.bricks-12-design
{
background-image: url('../images/wallet-backgrounds/Bricks-12.jpg');
}


.camo-1 .coin-wallet,
.selector.camo-1-design
{
background-image: url('../images/wallet-backgrounds/Camo-1.jpg');
}
.camo-2 .coin-wallet,
.selector.camo-2-design
{
background-image: url('../images/wallet-backgrounds/Camo-2.jpg');
}


.cash-1 .coin-wallet,
.selector.cash-1-design
{
background-image: url('../images/wallet-backgrounds/Cash-1.jpg');
}
.cash-2 .coin-wallet,
.selector.cash-2-design
{
background-image: url('../images/wallet-backgrounds/Cash-2.jpg');
}




.coin-1 .coin-wallet,
.selector.coin-1-design
{
background-image: url('../images/wallet-backgrounds/Coin-1.jpg');
}
.coin-2 .coin-wallet,
.selector.coin-2-design
{
background-image: url('../images/wallet-backgrounds/Coin-2.jpg');
}
.coin-3 .coin-wallet,
.selector.coin-3-design
{
background-image: url('../images/wallet-backgrounds/Coin-3.jpg');
}
.coin-4 .coin-wallet,
.selector.coin-4-design
{
background-image: url('../images/wallet-backgrounds/Coin-4.jpg');
}
.coin-5 .coin-wallet,
.selector.coin-5-design
{
background-image: url('../images/wallet-backgrounds/Coin-5.jpg');
}
.coin-6 .coin-wallet,
.selector.coin-6-design
{
background-image: url('../images/wallet-backgrounds/Coin-6.jpg');
}



.fire-1 .coin-wallet,
.selector.fire-1-design
{
background-image: url('../images/wallet-backgrounds/Fire-1.jpg');
}
.fire-2 .coin-wallet,
.selector.fire-2-design
{
background-image: url('../images/wallet-backgrounds/Fire-2.jpg');
}
.fire-3 .coin-wallet,
.selector.fire-3-design
{
background-image: url('../images/wallet-backgrounds/Fire-3.jpg');
}
.fire-4 .coin-wallet,
.selector.fire-4-design
{
background-image: url('../images/wallet-backgrounds/Fire-4.jpg');
}



.flower-1 .coin-wallet,
.selector.flower-1-design
{
background-image: url('../images/wallet-backgrounds/Flower-1.jpg');
}
.flower-2 .coin-wallet,
.selector.flower-2-design
{
background-image: url('../images/wallet-backgrounds/Flower-2.jpg');
}
.flower-3 .coin-wallet,
.selector.flower-3-design
{
background-image: url('../images/wallet-backgrounds/Flower-3.jpg');
}
.flower-4 .coin-wallet,
.selector.flower-4-design
{
background-image: url('../images/wallet-backgrounds/Flower-4.jpg');
}
.flower-5 .coin-wallet,
.selector.flower-5-design
{
background-image: url('../images/wallet-backgrounds/Flower-5.jpg');
}
.flower-6 .coin-wallet,
.selector.flower-6-design
{
background-image: url('../images/wallet-backgrounds/Flower-6.jpg');
}
.flower-7 .coin-wallet,
.selector.flower-7-design
{
background-image: url('../images/wallet-backgrounds/Flower-7.jpg');
}
.flower-8 .coin-wallet,
.selector.flower-8-design
{
background-image: url('../images/wallet-backgrounds/Flower-8.jpg');
}
.flower-9 .coin-wallet,
.selector.flower-9-design
{
background-image: url('../images/wallet-backgrounds/Flower-9.jpg');
}
.flower-10 .coin-wallet,
.selector.flower-10-design
{
background-image: url('../images/wallet-backgrounds/Flower-10.jpg');
}
.flower-11 .coin-wallet,
.selector.flower-11-design
{
background-image: url('../images/wallet-backgrounds/Flower-11.jpg');
}



.food-1 .coin-wallet,
.selector.food-1-design
{
background-image: url('../images/wallet-backgrounds/Food-1.jpg');
}
.food-2 .coin-wallet,
.selector.food-2-design
{
background-image: url('../images/wallet-backgrounds/Food-2.jpg');
}
.food-3 .coin-wallet,
.selector.food-3-design
{
background-image: url('../images/wallet-backgrounds/Food-3.jpg');
}
.food-4 .coin-wallet,
.selector.food-4-design
{
background-image: url('../images/wallet-backgrounds/Food-4.jpg');
}
.food-5 .coin-wallet,
.selector.food-5-design
{
background-image: url('../images/wallet-backgrounds/Food-5.jpg');
}
.food-6 .coin-wallet,
.selector.food-6-design
{
background-image: url('../images/wallet-backgrounds/Food-6.jpg');
}
.food-7 .coin-wallet,
.selector.food-7-design
{
background-image: url('../images/wallet-backgrounds/Food-7.jpg');
}




.fractal-1 .coin-wallet,
.selector.fractal-1-design
{
background-image: url('../images/wallet-backgrounds/Fractal-1.jpg');
}
.fractal-2 .coin-wallet,
.selector.fractal-2-design
{
background-image: url('../images/wallet-backgrounds/Fractal-2.jpg');
}
.fractal-3 .coin-wallet,
.selector.fractal-3-design
{
background-image: url('../images/wallet-backgrounds/Fractal-3.jpg');
}
.fractal-4 .coin-wallet,
.selector.fractal-4-design
{
background-image: url('../images/wallet-backgrounds/Fractal-4.jpg');
}
.fractal-5 .coin-wallet,
.selector.fractal-5-design
{
background-image: url('../images/wallet-backgrounds/Fractal-5.jpg');
}
.fractal-6 .coin-wallet,
.selector.fractal-6-design
{
background-image: url('../images/wallet-backgrounds/Fractal-6.jpg');
}
.fractal-7 .coin-wallet,
.selector.fractal-7-design
{
background-image: url('../images/wallet-backgrounds/Fractal-7.jpg');
}
.fractal-8 .coin-wallet,
.selector.fractal-8-design
{
background-image: url('../images/wallet-backgrounds/Fractal-8.jpg');
}
.fractal-9 .coin-wallet,
.selector.fractal-9-design
{
background-image: url('../images/wallet-backgrounds/Fractal-9.jpg');
}
.fractal-10 .coin-wallet,
.selector.fractal-10-design
{
background-image: url('../images/wallet-backgrounds/Fractal-10.jpg');
}
.fractal-11 .coin-wallet,
.selector.fractal-11-design
{
background-image: url('../images/wallet-backgrounds/Fractal-11.jpg');
}
.fractal-12 .coin-wallet,
.selector.fractal-12-design
{
background-image: url('../images/wallet-backgrounds/Fractal-12.jpg');
}
.fractal-13 .coin-wallet,
.selector.fractal-13-design
{
background-image: url('../images/wallet-backgrounds/Fractal-13.jpg');
}



.glass-1 .coin-wallet,
.selector.glass-1-design
{
background-image: url('../images/wallet-backgrounds/Glass-1.jpg');
}
.glass-2 .coin-wallet,
.selector.glass-2-design
{
background-image: url('../images/wallet-backgrounds/Glass-2.jpg');
}




.holiday-1 .coin-wallet,
.selector.holiday-1-design
{
background-image: url('../images/wallet-backgrounds/Holiday-1.jpg');
}
.holiday-2 .coin-wallet,
.selector.holiday-2-design
{
background-image: url('../images/wallet-backgrounds/Holiday-2.jpg');
}
.holiday-3 .coin-wallet,
.selector.holiday-3-design
{
background-image: url('../images/wallet-backgrounds/Holiday-3.jpg');
}
.holiday-4 .coin-wallet,
.selector.holiday-4-design
{
background-image: url('../images/wallet-backgrounds/Holiday-4.jpg');
}
.holiday-5 .coin-wallet,
.selector.holiday-5-design
{
background-image: url('../images/wallet-backgrounds/Holiday-5.jpg');
}
.holiday-6 .coin-wallet,
.selector.holiday-6-design
{
background-image: url('../images/wallet-backgrounds/Holiday-6.jpg');
}



.love-1 .coin-wallet,
.selector.love-1-design
{
background-image: url('../images/wallet-backgrounds/Love-1.jpg');
}
.love-2 .coin-wallet,
.selector.love-2-design
{
background-image: url('../images/wallet-backgrounds/Love-2.jpg');
}
.love-3 .coin-wallet,
.selector.love-3-design
{
background-image: url('../images/wallet-backgrounds/Love-3.jpg');
}
.love-4 .coin-wallet,
.selector.love-4-design
{
background-image: url('../images/wallet-backgrounds/Love-4.jpg');
}





.metal-1 .coin-wallet,
.selector.metal-1-design
{
background-image: url('../images/wallet-backgrounds/Metal-1.jpg');
}
.metal-2 .coin-wallet,
.selector.metal-2-design
{
background-image: url('../images/wallet-backgrounds/Metal-2.jpg');
}
.metal-3 .coin-wallet,
.selector.metal-3-design
{
background-image: url('../images/wallet-backgrounds/Metal-3.jpg');
}
.metal-4 .coin-wallet,
.selector.metal-4-design
{
background-image: url('../images/wallet-backgrounds/Metal-4.jpg');
}
.metal-5 .coin-wallet,
.selector.metal-5-design
{
background-image: url('../images/wallet-backgrounds/Metal-5.jpg');
}
.metal-6 .coin-wallet,
.selector.metal-6-design
{
background-image: url('../images/wallet-backgrounds/Metal-6.jpg');
}
.metal-7 .coin-wallet,
.selector.metal-7-design
{
background-image: url('../images/wallet-backgrounds/Metal-7.jpg');
}
.metal-8 .coin-wallet,
.selector.metal-8-design
{
background-image: url('../images/wallet-backgrounds/Metal-8.jpg');
}
.metal-9 .coin-wallet,
.selector.metal-9-design
{
background-image: url('../images/wallet-backgrounds/Metal-9.jpg');
}
.metal-10 .coin-wallet,
.selector.metal-10-design
{
background-image: url('../images/wallet-backgrounds/Metal-10.jpg');
}





.misc-1 .coin-wallet,
.selector.misc-1-design
{
background-image: url('../images/wallet-backgrounds/Misc-1.jpg');
}
.misc-2 .coin-wallet,
.selector.misc-2-design
{
background-image: url('../images/wallet-backgrounds/Misc-2.jpg');
}
.misc-3 .coin-wallet,
.selector.misc-3-design
{
background-image: url('../images/wallet-backgrounds/Misc-3.jpg');
}
.misc-4 .coin-wallet,
.selector.misc-4-design
{
background-image: url('../images/wallet-backgrounds/Misc-4.jpg');
}
.misc-5 .coin-wallet,
.selector.misc-5-design
{
background-image: url('../images/wallet-backgrounds/Misc-5.jpg');
}
.misc-6 .coin-wallet,
.selector.misc-6-design
{
background-image: url('../images/wallet-backgrounds/Misc-6.jpg');
}
.misc-7 .coin-wallet,
.selector.misc-7-design
{
background-image: url('../images/wallet-backgrounds/Misc-7.jpg');
}
.misc-8 .coin-wallet,
.selector.misc-8-design
{
background-image: url('../images/wallet-backgrounds/Misc-8.jpg');
}
.misc-9 .coin-wallet,
.selector.misc-9-design
{
background-image: url('../images/wallet-backgrounds/Misc-9.jpg');
}
.misc-10 .coin-wallet,
.selector.misc-10-design
{
background-image: url('../images/wallet-backgrounds/Misc-10.jpg');
}
.misc-11 .coin-wallet,
.selector.misc-11-design
{
background-image: url('../images/wallet-backgrounds/Misc-11.jpg');
}
.misc-12 .coin-wallet,
.selector.misc-12-design
{
background-image: url('../images/wallet-backgrounds/Misc-12.jpg');
}
.misc-13 .coin-wallet,
.selector.misc-13-design
{
background-image: url('../images/wallet-backgrounds/Misc-13.jpg');
}
.misc-14 .coin-wallet,
.selector.misc-14-design
{
background-image: url('../images/wallet-backgrounds/Misc-14.jpg');
}
.misc-15 .coin-wallet,
.selector.misc-15-design
{
background-image: url('../images/wallet-backgrounds/Misc-15.jpg');
}
.misc-16 .coin-wallet,
.selector.misc-16-design
{
background-image: url('../images/wallet-backgrounds/Misc-16.jpg');
}



.music-1 .coin-wallet,
.selector.music-1-design
{
background-image: url('../images/wallet-backgrounds/Music-1.jpg');
}




.paper-1 .coin-wallet,
.selector.paper-1-design
{
background-image: url('../images/wallet-backgrounds/Paper-1.jpg');
}
.paper-2 .coin-wallet,
.selector.paper-2-design
{
background-image: url('../images/wallet-backgrounds/Paper-2.jpg');
}




.plants-1 .coin-wallet,
.selector.plants-1-design
{
background-image: url('../images/wallet-backgrounds/Plants-1.jpg');
}
.plants-2 .coin-wallet,
.selector.plants-2-design
{
background-image: url('../images/wallet-backgrounds/Plants-2.jpg');
}
.plants-3 .coin-wallet,
.selector.plants-3-design
{
background-image: url('../images/wallet-backgrounds/Plants-3.jpg');
}
.plants-4 .coin-wallet,
.selector.plants-4-design
{
background-image: url('../images/wallet-backgrounds/Plants-4.jpg');
}
.plants-5 .coin-wallet,
.selector.plants-5-design
{
background-image: url('../images/wallet-backgrounds/Plants-5.jpg');
}
.plants-6 .coin-wallet,
.selector.plants-6-design
{
background-image: url('../images/wallet-backgrounds/Plants-6.jpg');
}
.plants-7 .coin-wallet,
.selector.plants-7-design
{
background-image: url('../images/wallet-backgrounds/Plants-7.jpg');
}
.plants-8 .coin-wallet,
.selector.plants-8-design
{
background-image: url('../images/wallet-backgrounds/Plants-8.jpg');
}
.plants-9 .coin-wallet,
.selector.plants-9-design
{
background-image: url('../images/wallet-backgrounds/Plants-9.jpg');
}
.plants-10 .coin-wallet,
.selector.plants-10-design
{
background-image: url('../images/wallet-backgrounds/Plants-10.jpg');
}
.plants-11 .coin-wallet,
.selector.plants-11-design
{
background-image: url('../images/wallet-backgrounds/Plants-11.jpg');
}
.plants-12 .coin-wallet,
.selector.plants-12-design
{
background-image: url('../images/wallet-backgrounds/Plants-12.jpg');
}
.plants-13 .coin-wallet,
.selector.plants-13-design
{
background-image: url('../images/wallet-backgrounds/Plants-13.jpg');
}
.plants-14 .coin-wallet,
.selector.plants-14-design
{
background-image: url('../images/wallet-backgrounds/Plants-14.jpg');
}




.rocks-sand-1 .coin-wallet,
.selector.rocks-sand-1-design
{
background-image: url('../images/wallet-backgrounds/Rocks-Sand-1.jpg');
}
.rocks-sand-2 .coin-wallet,
.selector.rocks-sand-2-design
{
background-image: url('../images/wallet-backgrounds/Rocks-Sand-2.jpg');
}
.rocks-sand-3 .coin-wallet,
.selector.rocks-sand-3-design
{
background-image: url('../images/wallet-backgrounds/Rocks-Sand-3.jpg');
}
.rocks-sand-4 .coin-wallet,
.selector.rocks-sand-4-design
{
background-image: url('../images/wallet-backgrounds/Rocks-Sand-4.jpg');
}
.rocks-sand-5 .coin-wallet,
.selector.rocks-sand-5-design
{
background-image: url('../images/wallet-backgrounds/Rocks-Sand-5.jpg');
}
.rocks-sand-6 .coin-wallet,
.selector.rocks-sand-6-design
{
background-image: url('../images/wallet-backgrounds/Rocks-Sand-6.jpg');
}




.sky-1 .coin-wallet,
.selector.sky-1-design
{
background-image: url('../images/wallet-backgrounds/Sky-1.jpg');
}
.sky-2 .coin-wallet,
.selector.sky-2-design
{
background-image: url('../images/wallet-backgrounds/Sky-2.jpg');
}
.sky-3 .coin-wallet,
.selector.sky-3-design
{
background-image: url('../images/wallet-backgrounds/Sky-3.jpg');
}
.sky-4 .coin-wallet,
.selector.sky-4-design
{
background-image: url('../images/wallet-backgrounds/Sky-4.jpg');
}
.sky-5 .coin-wallet,
.selector.sky-5-design
{
background-image: url('../images/wallet-backgrounds/Sky-5.jpg');
}
.sky-6 .coin-wallet,
.selector.sky-6-design
{
background-image: url('../images/wallet-backgrounds/Sky-6.jpg');
}
.sky-7 .coin-wallet,
.selector.sky-7-design
{
background-image: url('../images/wallet-backgrounds/Sky-7.jpg');
}






.stars-1 .coin-wallet,
.selector.stars-1-design
{
background-image: url('../images/wallet-backgrounds/Stars-1.jpg');
}
.stars-2 .coin-wallet,
.selector.stars-2-design
{
background-image: url('../images/wallet-backgrounds/Stars-2.jpg');
}
.stars-3 .coin-wallet,
.selector.stars-3-design
{
background-image: url('../images/wallet-backgrounds/Stars-3.jpg');
}







.tech-1 .coin-wallet,
.selector.tech-1-design
{
background-image: url('../images/wallet-backgrounds/Tech-1.jpg');
}
.tech-2 .coin-wallet,
.selector.tech-2-design
{
background-image: url('../images/wallet-backgrounds/Tech-2.jpg');
}
.tech-3 .coin-wallet,
.selector.tech-3-design
{
background-image: url('../images/wallet-backgrounds/Tech-3.jpg');
}




.texture-1 .coin-wallet,
.selector.texture-1-design
{
background-image: url('../images/wallet-backgrounds/Texture-1.jpg');
}
.texture-2 .coin-wallet,
.selector.texture-2-design
{
background-image: url('../images/wallet-backgrounds/Texture-2.jpg');
}
.texture-3 .coin-wallet,
.selector.texture-3-design
{
background-image: url('../images/wallet-backgrounds/Texture-3.jpg');
}
.texture-4 .coin-wallet,
.selector.texture-4-design
{
background-image: url('../images/wallet-backgrounds/Texture-4.jpg');
}
.texture-5 .coin-wallet,
.selector.texture-5-design
{
background-image: url('../images/wallet-backgrounds/Texture-5.jpg');
}
.texture-6 .coin-wallet,
.selector.texture-6-design
{
background-image: url('../images/wallet-backgrounds/Texture-6.jpg');
}
.texture-7 .coin-wallet,
.selector.texture-7-design
{
background-image: url('../images/wallet-backgrounds/Texture-7.jpg');
}
.texture-8 .coin-wallet,
.selector.texture-8-design
{
background-image: url('../images/wallet-backgrounds/Texture-8.jpg');
}
.texture-9 .coin-wallet,
.selector.texture-9-design
{
background-image: url('../images/wallet-backgrounds/Texture-9.jpg');
}
.texture-10 .coin-wallet,
.selector.texture-10-design
{
background-image: url('../images/wallet-backgrounds/Texture-10.jpg');
}
.texture-11 .coin-wallet,
.selector.texture-11-design
{
background-image: url('../images/wallet-backgrounds/Texture-11.jpg');
}
.texture-12 .coin-wallet,
.selector.texture-12-design
{
background-image: url('../images/wallet-backgrounds/Texture-12.jpg');
}
.texture-13 .coin-wallet,
.selector.texture-13-design
{
background-image: url('../images/wallet-backgrounds/Texture-13.jpg');
}
.texture-14 .coin-wallet,
.selector.texture-14-design
{
background-image: url('../images/wallet-backgrounds/Texture-14.jpg');
}
.texture-15 .coin-wallet,
.selector.texture-15-design
{
background-image: url('../images/wallet-backgrounds/Texture-15.jpg');
}
.texture-16 .coin-wallet,
.selector.texture-16-design
{
background-image: url('../images/wallet-backgrounds/Texture-16.jpg');
}
.texture-17 .coin-wallet,
.selector.texture-17-design
{
background-image: url('../images/wallet-backgrounds/Texture-17.jpg');
}
.texture-18 .coin-wallet,
.selector.texture-18-design
{
background-image: url('../images/wallet-backgrounds/Texture-18.jpg');
}
.texture-19 .coin-wallet,
.selector.texture-19-design
{
background-image: url('../images/wallet-backgrounds/Texture-19.jpg');
}
.texture-20 .coin-wallet,
.selector.texture-20-design
{
background-image: url('../images/wallet-backgrounds/Texture-20.jpg');
}
.texture-21 .coin-wallet,
.selector.texture-21-design
{
background-image: url('../images/wallet-backgrounds/Texture-21.jpg');
}





.tiles-1 .coin-wallet,
.selector.tiles-1-design
{
background-image: url('../images/wallet-backgrounds/Tiles-1.jpg');
}
.tiles-2 .coin-wallet,
.selector.tiles-2-design
{
background-image: url('../images/wallet-backgrounds/Tiles-2.jpg');
}
.tiles-3 .coin-wallet,
.selector.tiles-3-design
{
background-image: url('../images/wallet-backgrounds/Tiles-3.jpg');
}
.tiles-4 .coin-wallet,
.selector.tiles-4-design
{
background-image: url('../images/wallet-backgrounds/Tiles-4.jpg');
}
.tiles-5 .coin-wallet,
.selector.tiles-5-design
{
background-image: url('../images/wallet-backgrounds/Tiles-5.jpg');
}
.tiles-6 .coin-wallet,
.selector.tiles-6-design
{
background-image: url('../images/wallet-backgrounds/Tiles-6.jpg');
}
.tiles-7 .coin-wallet,
.selector.tiles-7-design
{
background-image: url('../images/wallet-backgrounds/Tiles-7.jpg');
}




.water-1 .coin-wallet,
.selector.water-1-design
{
background-image: url('../images/wallet-backgrounds/Water-1.jpg');
}
.water-2 .coin-wallet,
.selector.water-2-design
{
background-image: url('../images/wallet-backgrounds/Water-2.jpg');
}
.water-3 .coin-wallet,
.selector.water-3-design
{
background-image: url('../images/wallet-backgrounds/Water-3.jpg');
}
.water-4 .coin-wallet,
.selector.water-4-design
{
background-image: url('../images/wallet-backgrounds/Water-4.jpg');
}
.water-5 .coin-wallet,
.selector.water-5-design
{
background-image: url('../images/wallet-backgrounds/Water-5.jpg');
}
.water-6 .coin-wallet,
.selector.water-6-design
{
background-image: url('../images/wallet-backgrounds/Water-6.jpg');
}
.water-7 .coin-wallet,
.selector.water-7-design
{
background-image: url('../images/wallet-backgrounds/Water-7.jpg');
}
.water-8 .coin-wallet,
.selector.water-8-design
{
background-image: url('../images/wallet-backgrounds/Water-8.jpg');
}
.water-9 .coin-wallet,
.selector.water-9-design
{
background-image: url('../images/wallet-backgrounds/Water-9.jpg');
}
.water-10 .coin-wallet,
.selector.water-10-design
{
background-image: url('../images/wallet-backgrounds/Water-10.jpg');
}
.water-11 .coin-wallet,
.selector.water-11-design
{
background-image: url('../images/wallet-backgrounds/Water-11.jpg');
}
.water-12 .coin-wallet,
.selector.water-12-design
{
background-image: url('../images/wallet-backgrounds/Water-12.jpg');
}
.water-13 .coin-wallet,
.selector.water-13-design
{
background-image: url('../images/wallet-backgrounds/Water-13.jpg');
}
.water-14 .coin-wallet,
.selector.water-14-design
{
background-image: url('../images/wallet-backgrounds/Water-14.jpg');
}
.water-15 .coin-wallet,
.selector.water-15-design
{
background-image: url('../images/wallet-backgrounds/Water-15.jpg');
}
.water-16 .coin-wallet,
.selector.water-16-design
{
background-image: url('../images/wallet-backgrounds/Water-16.jpg');
}






.wood-1 .coin-wallet,
.selector.wood-1-design
{
background-image: url('../images/wallet-backgrounds/Wood-1.jpg');
}
.wood-2 .coin-wallet,
.selector.wood-2-design
{
background-image: url('../images/wallet-backgrounds/Wood-2.jpg');
}
.wood-3 .coin-wallet,
.selector.wood-3-design
{
background-image: url('../images/wallet-backgrounds/Wood-3.jpg');
}
.wood-4 .coin-wallet,
.selector.wood-4-design
{
background-image: url('../images/wallet-backgrounds/Wood-4.jpg');
}
.wood-5 .coin-wallet,
.selector.wood-5-design
{
background-image: url('../images/wallet-backgrounds/Wood-5.jpg');
}
.wood-6 .coin-wallet,
.selector.wood-6-design
{
background-image: url('../images/wallet-backgrounds/Wood-6.jpg');
}
.wood-7 .coin-wallet,
.selector.wood-7-design
{
background-image: url('../images/wallet-backgrounds/Wood-7.jpg');
}
.wood-8 .coin-wallet,
.selector.wood-8-design
{
background-image: url('../images/wallet-backgrounds/Wood-8.jpg');
}
.wood-9 .coin-wallet,
.selector.wood-9-design
{
background-image: url('../images/wallet-backgrounds/Wood-9.jpg');
}
.wood-10 .coin-wallet,
.selector.wood-10-design
{
background-image: url('../images/wallet-backgrounds/Wood-10.jpg');
}
.wood-11 .coin-wallet,
.selector.wood-11-design
{
background-image: url('../images/wallet-backgrounds/Wood-11.jpg');
}
.wood-12 .coin-wallet,
.selector.wood-12-design
{
background-image: url('../images/wallet-backgrounds/Wood-12.jpg');
}
.wood-13 .coin-wallet,
.selector.wood-13-design
{
background-image: url('../images/wallet-backgrounds/Wood-13.jpg');
}
.wood-14 .coin-wallet,
.selector.wood-14-design
{
background-image: url('../images/wallet-backgrounds/Wood-14.jpg');
}
.wood-15 .coin-wallet,
.selector.wood-15-design
{
background-image: url('../images/wallet-backgrounds/Wood-15.jpg');
}
.wood-16 .coin-wallet,
.selector.wood-16-design
{
background-image: url('../images/wallet-backgrounds/Wood-16.jpg');
}
.wood-17 .coin-wallet,
.selector.wood-17-design
{
background-image: url('../images/wallet-backgrounds/Wood-17.jpg');
}
.wood-18 .coin-wallet,
.selector.wood-18-design
{
background-image: url('../images/wallet-backgrounds/Wood-18.jpg');
}
.wood-19 .coin-wallet,
.selector.wood-19-design
{
background-image: url('../images/wallet-backgrounds/Wood-19.jpg');
}
.wood-20 .coin-wallet,
.selector.wood-20-design
{
background-image: url('../images/wallet-backgrounds/Wood-20.jpg');
}