.coin-wallets .cryptopapers-logo {
  background: url("../images/logo2.png");
  width: 146px;
  height: 38px;
  background-size: 100%;
  position: absolute;
  top: 88px;
  left: 259px;
  z-index: 101;
  opacity: 1;
  background-color: rgba(17, 17, 17, 0.47);
  border-radius: 10px;
}
.coin-wallets .coin-wallet-address-qr,
.coin-wallets .coin-wallet-private-key-qr {
  padding: 7px;
  border-radius: 10px;
  background-color: #ffffff;
}
.coin-wallets .coin-wallet-write-area {
  display: none;
  height: 200px;
  width: 331px;
  background: white;
  top: 76px;
  position: absolute;
  left: 713px;
  border-radius: 13px;
  opacity: 0.86;
  text-align: center;
}
.coin-wallets .coin-wallet-write-area h1 {
  font-size: 30px;
  margin-bottom: 0px;
}
.coin-wallets .coin-wallet-write-area h2 {
  font-size: 15px;
  float: left;
  width: 50%;
}
.coin-wallets .coin-wallet-left {
  float: left;
  width: 331px;
  text-align: center;
  margin-left: 6px;
  margin-top: 9px;
}
.coin-wallets .coin-wallet-left .coin-wallet-address {
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px;
}
.coin-wallets .coin-wallet-left .coin-wallet-address-qr {
  margin-top: 77px;
  margin-left: 19px;
  margin-bottom: 68px;
  text-align: left;
  width: 117px;
}
.coin-wallets .coin-wallet-left .coin-wallet-address-qr canvas {
  width: 100px;
  height: 100px;
}
.coin-wallets .coin-wallet-right {
  float: right;
  width: 218px;
  text-align: center;
  padding-top: 45px;
  padding-right: 0px;
}
.coin-wallets .coin-wallet-right .coin-wallet-private-key {
  font-size: 9pt;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px;
}
.coin-wallets .coin-wallet-right .coin-wallet-private-key-qr {
  width: 147px;
  margin-top: 23px;
  margin-bottom: 25px;
}
.coin-wallets .coin-wallet-right .coin-wallet-private-key-qr canvas {
  width: 132px;
  height: 132px;
}
.coin-wallets .coin-wallet-address-qr:before,
.coin-wallets .coin-wallet-private-key-qr:before,
.coin-wallets .coin-wallet-address-qr:after,
.coin-wallets .coin-wallet-private-key-qr:after {
  color: black;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  position: relative;
  display: block;
  margin-top: 0px;
  margin-left: -7px;
  margin-right: -7px;
  margin-bottom: 6px;
  text-align: center;
  margin-top: -7px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.coin-wallets .coin-wallet-address-qr:before,
.coin-wallets .coin-wallet-private-key-qr:before {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}
.coin-wallets .coin-wallet-address-qr:after,
.coin-wallets .coin-wallet-private-key-qr:after {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.54);
  margin-bottom: -7px;
  margin-top: 6px;
}
.coin-wallets .coin-wallet-address-qr:before {
  content: 'Public Address';
  width: 117px;
}
.coin-wallets .coin-wallet-private-key-qr:before {
  content: 'Private Key';
  width: 147px;
}
.coin-wallets .coin-wallet-address-qr:after {
  content: 'Scan to Deposit';
  width: 117px;
}
.coin-wallets .coin-wallet-private-key-qr:after {
  content: 'Scan to Withdraw';
  width: 147px;
}
.coin-wallets.back .coin-wallet-write-area {
  display: block;
}
.coin-wallets.back .cryptopapers-logo {
  display: none;
}
.frame-instructions .frame-name {
  font-size: 22px;
  text-decoration: underline;
  margin-bottom: 24px;
}
.frame-instructions .frame-creator {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.frame-instructions .frame-creator:before {
  font-size: 18px;
  content: 'Created By: ';
  font-style: italic;
  font-weight: normal;
}
.frame-instructions .frame-description {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
}
.frame-instructions .frame-detail-instructions {
  font-size: 15px;
}
.frame-instructions .frame-detail-instructions:before {
  content: 'How to make this wallet: ';
}
.frame-instructions .frame-detail-instructions ol {
  margin-top: 10px;
}
.frame-instructions .frame-difficulty {
  margin: 5px;
  float: right;
  background: #ccc;
  padding: 5px;
  border-radius: 5px;
}
.frame-instructions .frame-difficulty:before {
  content: 'Difficulty: ';
}
.frame-1 .coin-wallet .cryptopapers-logo {
  display: none;
}
.frame-1 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-1.png');
}
.frame-1 .coin-wallet .coin-wallet-left {
  width: 242px;
}
.frame-1 .coin-wallet .coin-wallet-right {
  margin-right: 551px;
}
.frame-1 .coin-wallet .coin-wallet-address,
.frame-1 .coin-wallet .coin-wallet-private-key {
  background: none;
}
.frame-1 .coin-wallet .coin-wallet-private-key span {
  left: 406px;
  font: 13px;
  height: 109px;
  position: absolute;
  width: 20px;
  top: 58px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.frame-1 .coin-wallet .coin-wallet-address-qr {
  margin-left: 79px;
  margin-top: 56px;
}
.frame-1 .coin-wallet .coin-wallet-private-key-qr {
  margin-left: 52px;
  margin-top: 18px;
  width: 114px;
  height: 150px;
}
.frame-1 .coin-wallet .coin-wallet-private-key-qr canvas {
  width: 100px;
  height: 100px;
}
.frame-1 .coin-wallet .coin-wallet-private-key-qr:before,
.frame-1 .coin-wallet .coin-wallet-private-key-qr:after {
  width: 114px;
}
.frame-1 .coin-wallet .coin-wallet-address span {
  font: 16px;
  height: 127px;
  position: absolute;
  width: 20px;
  left: 156px;
  top: 42px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.frame-1 .coin-wallet .coin-wallet-write-area {
  display: none;
}
.frame-1 .coin-logo {
  display: none;
}
.frame-1.back .cryptopapers-logo {
  display: block;
  left: 310px;
  top: 205px;
  zoom: 112%;
  -moz-transform-origin: left top;
  -moz-transform: scale(1.12) !important;
}
.frame-1.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-1-Back.png');
}
.frame-1.back .coin-logo {
  display: block;
  left: 321px;
  background-size: 100%;
  width: 235px;
  height: 235px;
  top: 53px;
}
.frame-2 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-2.png');
}
.frame-2 .coin-wallet .coin-wallet-right {
  margin-right: 293px;
}
.frame-2 .coin-wallet .coin-wallet-address,
.frame-2 .coin-wallet .coin-wallet-private-key {
  background: none;
}
.frame-2 .coin-wallet .coin-wallet-address-qr {
  margin-left: 79px;
  margin-top: 56px;
}
.frame-2 .coin-wallet .coin-wallet-private-key-qr {
  margin-left: 46px;
  margin-top: 18px;
  width: 114px;
  height: 150px;
}
.frame-2 .coin-wallet .coin-wallet-private-key-qr canvas {
  width: 100px;
  height: 100px;
}
.frame-2 .coin-wallet .coin-wallet-private-key-qr:before,
.frame-2 .coin-wallet .coin-wallet-private-key-qr:after {
  width: 114px;
}
.frame-2 .coin-wallet .cryptopapers-logo {
  display: block;
  left: 748px;
  top: 211px;
  zoom: 112%;
  -moz-transform-origin: left top;
  -moz-transform: scale(1.12) !important;
}
.frame-2 .coin-wallet .coin-wallet-address span {
  font: 16px;
  height: 127px;
  position: absolute;
  width: 20px;
  left: 156px;
  top: 42px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.frame-2 .coin-wallet .coin-wallet-private-key span {
  font: 13px;
  height: 109px;
  position: absolute;
  width: 20px;
  left: 659px;
  top: 58px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.frame-2 .coin-logo {
  left: 807px;
  background-size: 100%;
  width: 235px;
  height: 235px;
  top: 57px;
}
.frame-2 .coin-logo:after {
  display: none;
}
.frame-2.back .coin-wallet-write-area {
  top: 95px;
}
.frame-2.back .cryptopapers-logo {
  display: none;
}
.frame-2.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-2-Back.png');
}
.frame-2.back .coin-logo {
  display: none;
  left: 807px;
  background-size: 100%;
  width: 235px;
  height: 235px;
  top: 57px;
}
.frame-2.back .coin-logo:after {
  top: 5px;
  left: -683px;
  position: absolute;
}
.frame-2.back .coin-wallet-write-area {
  top: 67px;
  left: 595px;
  border-radius: 37px;
  width: 430px;
  height: 154px;
}
.frame-3 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-3.png');
}
.frame-3 .coin-wallet .coin-wallet-right {
  display: none;
}
.frame-3 .coin-wallet .coin-logo-2 {
  display: block;
  top: 83px;
  left: 851px;
  width: 185px;
  height: 185px;
  background-size: 100%;
}
.frame-3 .coin-wallet .coin-wallet-address-qr {
  margin-top: 41px;
  margin-left: 19px;
  margin-bottom: 59px;
  text-align: left;
  width: 117px;
}
.frame-3 .coin-wallet .cryptopapers-logo {
  display: block;
  left: 768px;
  top: 198px;
  zoom: 112%;
  -moz-transform-origin: left top;
  -moz-transform: scale(1.12) !important;
}
.frame-3.back .coin-wallet .cryptopapers-logo {
  display: none;
}
.frame-3.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-3-Back.png');
}
.frame-3.back .coin-wallet .coin-wallet-right {
  display: block;
  float: left;
  padding-top: 53px;
  padding-left: initial;
  left: 51px;
  position: relative;
}
.frame-3.back .coin-wallet .coin-wallet-right canvas {
  width: 100px;
  height: 100px;
}
.frame-3.back .coin-wallet .coin-wallet-right .coin-wallet-private-key {
  font-size: 10px;
  margin-right: 48px;
  right: 0px;
  position: relative;
}
.frame-3.back .coin-wallet .coin-wallet-right .coin-wallet-private-key-qr {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 114px;
  margin-left: 55px;
}
.frame-3.back .coin-logo {
  top: 72px;
  left: 469px;
  background-size: 100%;
  width: 220px;
  height: 220px;
}
.frame-3.back .coin-logo-2 {
  display: none;
}
.frame-4 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-4.png');
}
.frame-4 .coin-wallet .coin-wallet-write-area {
  float: left;
  left: 483px;
}
.frame-4 .coin-wallet .coin-wallet-left {
  margin-top: 37px;
  margin-left: 59px;
  width: 320px;
}
.frame-4 .coin-wallet .coin-wallet-left .coin-wallet-address.top {
  display: none;
}
.frame-4 .coin-wallet .coin-wallet-right {
  margin-right: 388px;
  padding-top: 33px;
}
.frame-4 .coin-wallet .coin-wallet-address-qr {
  margin-top: 5px;
  margin-left: 13px;
  margin-bottom: 19px;
}
.frame-4 .coin-wallet .coin-wallet-private-key-qr {
  margin-left: 35px;
  margin-top: 4px;
  margin-bottom: 6px;
}
.frame-4 .coin-wallet .coin-logo {
  top: 95px;
  left: 278px;
}
.frame-4 .coin-wallet .cryptopapers-logo {
  left: 249px;
}
.frame-4.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-4-Back.png');
}
.frame-4.back .cryptopapers-logo {
  display: block;
  left: 170px;
  top: 208px;
  zoom: 112%;
  -moz-transform-origin: left top;
  -moz-transform: scale(1.12) !important;
}
.frame-4.back .coin-logo {
  top: 63px;
  left: 159px;
  width: 231px;
  height: 231px;
}
.frame-4.back .coin-wallet-write-area {
  display: none;
}
.frame-5 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-5.png');
}
.frame-5 .coin-wallet .coin-wallet-write-area {
  float: left;
  left: 483px;
}
.frame-5 .coin-wallet .coin-wallet-left {
  margin-top: 37px;
  margin-left: 68px;
  width: 320px;
}
.frame-5 .coin-wallet .coin-wallet-right {
  margin-right: 401px;
  padding-top: 45px;
  width: 185px;
}
.frame-5 .coin-wallet .coin-wallet-private-key {
  font-size: 8pt;
}
.frame-5 .coin-wallet .coin-wallet-address-qr {
  margin-top: 14px;
  margin-left: 12px;
  margin-bottom: 14px;
}
.frame-5 .coin-wallet .coin-wallet-private-key-qr {
  width: 130px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 28px;
}
.frame-5 .coin-wallet .coin-wallet-private-key-qr:after,
.frame-5 .coin-wallet .coin-wallet-private-key-qr:before {
  width: 130px;
}
.frame-5 .coin-wallet .coin-logo {
  top: 95px;
  left: 288px;
}
.frame-5 .coin-wallet .coin-wallet-private-key-qr canvas {
  width: 115px;
  height: 115px;
}
.frame-5 .coin-wallet .encrypted {
  position: absolute;
  margin-left: 163px;
}
.frame-5.keys-encrypted .coin-wallet-private-key {
  font-size: 7pt;
}
.frame-5.back .coin-wallet .cryptopapers-logo {
  display: block;
  left: 194px;
  top: 208px;
  zoom: 112%;
  -moz-transform-origin: left top;
  -moz-transform: scale(1.12) !important;
}
.frame-5.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-5-Back.png');
}
.frame-5.back .coin-wallet-write-area {
  display: none;
}
.frame-5.back .coin-logo {
  top: 63px;
  left: 191px;
  width: 231px;
  height: 231px;
}
.frame-6 .coin-wallet .cryptopapers-logo {
  left: 172px;
  top: 207px;
}
.frame-6 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-6.png');
}
.frame-6.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-6-Back.png');
}
.frame-7 .coin-wallet .cryptopapers-logo {
  left: 172px;
  top: 207px;
}
.frame-7 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-7.png');
}
.frame-7.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-7-Back.png');
}
.frame-8 .coin-wallet .cryptopapers-logo {
  left: 172px;
  top: 207px;
}
.frame-8 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-8.png');
}
.frame-8.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-8-Back.png');
}
.frame-9 .coin-wallet .cryptopapers-logo {
  left: 842px;
  top: 231px;
}
.frame-9 .coin-wallet .encrypted {
  position: absolute;
  margin-left: 96px;
  width: 25px;
  height: 32px;
  margin-top: -4px;
}
.frame-9 .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-9.png');
}
.frame-9 .coin-wallet .coin-wallet-left {
  width: 253px;
  margin-left: 12px;
  margin-top: -6px;
}
.frame-9 .coin-wallet .coin-wallet-right {
  margin-right: 415px;
  padding-top: 39px;
}
.frame-9 .coin-wallet .coin-wallet-address-qr {
  margin-left: 87px;
  margin-top: 72px;
}
.frame-9 .coin-wallet .coin-wallet-private-key-qr {
  margin-left: 53px;
  width: 115px;
}
.frame-9 .coin-wallet .coin-wallet-private-key-qr:before,
.frame-9 .coin-wallet .coin-wallet-private-key-qr:after {
  width: 115px;
}
.frame-9 .coin-wallet .coin-wallet-private-key-qr canvas {
  width: 100px;
  height: 100px;
}
.frame-9 .coin-wallet .coin-wallet-address,
.frame-9 .coin-wallet .coin-wallet-private-key {
  background: none;
}
.frame-9 .coin-wallet .coin-wallet-private-key span {
  left: 541px;
  font: 13px;
  height: 109px;
  position: absolute;
  width: 20px;
  top: 58px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.frame-9 .coin-wallet .coin-wallet-address-qr {
  margin-left: 87px;
  margin-top: 92px;
}
.frame-9 .coin-wallet .coin-wallet-address span {
  font: 16px;
  height: 127px;
  position: absolute;
  width: 20px;
  left: 169px;
  top: 44px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.frame-9 .coin-wallet .coin-wallet-write-area {
  display: none;
}
.frame-9 .coin-logo {
  display: block;
  left: 802px;
  background-size: 100%;
  width: 235px;
  height: 235px;
  top: 57px;
  opacity: 0.8;
}
.frame-9 .coin-logo:after {
  content: '';
  display: none;
}
.frame-9.back .coin-wallet .coin-wallet-right {
  display: block;
}
.frame-9.back .coin-wallet .wallet-frame {
  background-image: url('../images/wallet-frames/Frame-9-Back.png');
}
.frame-9.back .coin-logo {
  display: none;
}
.char36 {
  transform: rotate(85deg);
  -webkit-transform: rotate(85deg);
}
.char35 {
  transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
}
.char34 {
  transform: rotate(75deg);
  -webkit-transform: rotate(75deg);
}
.char33 {
  transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
}
.char32 {
  transform: rotate(65deg);
  -webkit-transform: rotate(65deg);
}
.char31 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.char30 {
  transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
}
.char29 {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
}
.char28 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.char27 {
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}
.char26 {
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
}
.char25 {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}
.char24 {
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
}
.char23 {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}
.char22 {
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
}
.char21 {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
.char20 {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
}
.char19 {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.char18 {
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}
.char17 {
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}
.char16 {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}
.char15 {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}
.char14 {
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
}
.char13 {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
}
.char12 {
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
}
.char11 {
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
}
.char10 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.char9 {
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
}
.char8 {
  transform: rotate(-55deg);
  -webkit-transform: rotate(-55deg);
}
.char7 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}
.char6 {
  transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
}
.char5 {
  transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
}
.char4 {
  transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
}
.char3 {
  transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
}
.char2 {
  transform: rotate(-85deg);
  -webkit-transform: rotate(-85deg);
}
.char1 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.bottom .char36 {
  transform: rotate(265deg);
  -webkit-transform: rotate(265deg);
}
.bottom .char35 {
  transform: rotate(260deg);
  -webkit-transform: rotate(260deg);
}
.bottom .char34 {
  transform: rotate(255deg);
  -webkit-transform: rotate(255deg);
}
.bottom .char33 {
  transform: rotate(250deg);
  -webkit-transform: rotate(250deg);
}
.bottom .char32 {
  transform: rotate(245deg);
  -webkit-transform: rotate(245deg);
}
.bottom .char31 {
  transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
}
.bottom .char30 {
  transform: rotate(235deg);
  -webkit-transform: rotate(235deg);
}
.bottom .char29 {
  transform: rotate(230deg);
  -webkit-transform: rotate(230deg);
}
.bottom .char28 {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.bottom .char27 {
  transform: rotate(220deg);
  -webkit-transform: rotate(220deg);
}
.bottom .char26 {
  transform: rotate(215deg);
  -webkit-transform: rotate(215deg);
}
.bottom .char25 {
  transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
}
.bottom .char24 {
  transform: rotate(205deg);
  -webkit-transform: rotate(205deg);
}
.bottom .char23 {
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
}
.bottom .char22 {
  transform: rotate(195deg);
  -webkit-transform: rotate(195deg);
}
.bottom .char21 {
  transform: rotate(190deg);
  -webkit-transform: rotate(190deg);
}
.bottom .char20 {
  transform: rotate(185deg);
  -webkit-transform: rotate(185deg);
}
.bottom .char19 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.bottom .char18 {
  transform: rotate(175deg);
  -webkit-transform: rotate(175deg);
}
.bottom .char17 {
  transform: rotate(170deg);
  -webkit-transform: rotate(170deg);
}
.bottom .char16 {
  transform: rotate(165deg);
  -webkit-transform: rotate(165deg);
}
.bottom .char15 {
  transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
}
.bottom .char14 {
  transform: rotate(155deg);
  -webkit-transform: rotate(155deg);
}
.bottom .char13 {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
}
.bottom .char12 {
  transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
}
.bottom .char11 {
  transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
}
.bottom .char10 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.bottom .char9 {
  transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
}
.bottom .char8 {
  transform: rotate(125deg);
  -webkit-transform: rotate(125deg);
}
.bottom .char7 {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
.bottom .char6 {
  transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
}
.bottom .char5 {
  transform: rotate(110deg);
  -webkit-transform: rotate(110deg);
}
.bottom .char4 {
  transform: rotate(105deg);
  -webkit-transform: rotate(105deg);
}
.bottom .char3 {
  transform: rotate(100deg);
  -webkit-transform: rotate(100deg);
}
.bottom .char2 {
  transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
}
.bottom .char1 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.frame-1 .coin-wallet-private-key.bottom .char32,
.frame-2 .coin-wallet-private-key.bottom .char32,
.frame-9 .coin-wallet-private-key.bottom .char32 {
  transform: rotate(195deg);
  -webkit-transform: rotate(195deg);
}
.frame-1 .coin-wallet-private-key.bottom .char31,
.frame-2 .coin-wallet-private-key.bottom .char31,
.frame-9 .coin-wallet-private-key.bottom .char31 {
  transform: rotate(190deg);
  -webkit-transform: rotate(190deg);
}
.frame-1 .coin-wallet-private-key.bottom .char30,
.frame-2 .coin-wallet-private-key.bottom .char30,
.frame-9 .coin-wallet-private-key.bottom .char30 {
  transform: rotate(185deg);
  -webkit-transform: rotate(185deg);
}
.frame-1 .coin-wallet-private-key.bottom .char29,
.frame-2 .coin-wallet-private-key.bottom .char29,
.frame-9 .coin-wallet-private-key.bottom .char29 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.frame-1 .coin-wallet-private-key.bottom .char28,
.frame-2 .coin-wallet-private-key.bottom .char28,
.frame-9 .coin-wallet-private-key.bottom .char28 {
  transform: rotate(175deg);
  -webkit-transform: rotate(175deg);
}
.frame-1 .coin-wallet-private-key.bottom .char27,
.frame-2 .coin-wallet-private-key.bottom .char27,
.frame-9 .coin-wallet-private-key.bottom .char27 {
  transform: rotate(170deg);
  -webkit-transform: rotate(170deg);
}
.frame-1 .coin-wallet-private-key.bottom .char26,
.frame-2 .coin-wallet-private-key.bottom .char26,
.frame-9 .coin-wallet-private-key.bottom .char26 {
  transform: rotate(165deg);
  -webkit-transform: rotate(165deg);
}
.frame-1 .coin-wallet-private-key.bottom .char25,
.frame-2 .coin-wallet-private-key.bottom .char25,
.frame-9 .coin-wallet-private-key.bottom .char25 {
  transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
}
.frame-1 .coin-wallet-private-key.bottom .char24,
.frame-2 .coin-wallet-private-key.bottom .char24,
.frame-9 .coin-wallet-private-key.bottom .char24 {
  transform: rotate(155deg);
  -webkit-transform: rotate(155deg);
}
.frame-1 .coin-wallet-private-key.bottom .char23,
.frame-2 .coin-wallet-private-key.bottom .char23,
.frame-9 .coin-wallet-private-key.bottom .char23 {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
}
.frame-1 .coin-wallet-private-key.bottom .char22,
.frame-2 .coin-wallet-private-key.bottom .char22,
.frame-9 .coin-wallet-private-key.bottom .char22 {
  transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
}
.frame-1 .coin-wallet-private-key.bottom .char21,
.frame-2 .coin-wallet-private-key.bottom .char21,
.frame-9 .coin-wallet-private-key.bottom .char21 {
  transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
}
.frame-1 .coin-wallet-private-key.bottom .char20,
.frame-2 .coin-wallet-private-key.bottom .char20,
.frame-9 .coin-wallet-private-key.bottom .char20 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.frame-1 .coin-wallet-private-key.bottom .char19,
.frame-2 .coin-wallet-private-key.bottom .char19,
.frame-9 .coin-wallet-private-key.bottom .char19 {
  transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
}
.frame-1 .coin-wallet-private-key.bottom .char18,
.frame-2 .coin-wallet-private-key.bottom .char18,
.frame-9 .coin-wallet-private-key.bottom .char18 {
  transform: rotate(125deg);
  -webkit-transform: rotate(125deg);
}
.frame-1 .coin-wallet-private-key.bottom .char17,
.frame-2 .coin-wallet-private-key.bottom .char17,
.frame-9 .coin-wallet-private-key.bottom .char17 {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
.frame-1 .coin-wallet-private-key.bottom .char16,
.frame-2 .coin-wallet-private-key.bottom .char16,
.frame-9 .coin-wallet-private-key.bottom .char16 {
  transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
}
.frame-1 .coin-wallet-private-key.bottom .char15,
.frame-2 .coin-wallet-private-key.bottom .char15,
.frame-9 .coin-wallet-private-key.bottom .char15 {
  transform: rotate(110deg);
  -webkit-transform: rotate(110deg);
}
.frame-1 .coin-wallet-private-key.bottom .char14,
.frame-2 .coin-wallet-private-key.bottom .char14,
.frame-9 .coin-wallet-private-key.bottom .char14 {
  transform: rotate(105deg);
  -webkit-transform: rotate(105deg);
}
.frame-1 .coin-wallet-private-key.bottom .char13,
.frame-2 .coin-wallet-private-key.bottom .char13,
.frame-9 .coin-wallet-private-key.bottom .char13 {
  transform: rotate(100deg);
  -webkit-transform: rotate(100deg);
}
.frame-1 .coin-wallet-private-key.bottom .char12,
.frame-2 .coin-wallet-private-key.bottom .char12,
.frame-9 .coin-wallet-private-key.bottom .char12 {
  transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
}
.frame-1 .coin-wallet-private-key.bottom .char11,
.frame-2 .coin-wallet-private-key.bottom .char11,
.frame-9 .coin-wallet-private-key.bottom .char11 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.frame-1 .coin-wallet-private-key.bottom .char10,
.frame-2 .coin-wallet-private-key.bottom .char10,
.frame-9 .coin-wallet-private-key.bottom .char10 {
  transform: rotate(85deg);
  -webkit-transform: rotate(85deg);
}
.frame-1 .coin-wallet-private-key.bottom .char9,
.frame-2 .coin-wallet-private-key.bottom .char9,
.frame-9 .coin-wallet-private-key.bottom .char9 {
  transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
}
.frame-1 .coin-wallet-private-key.bottom .char8,
.frame-2 .coin-wallet-private-key.bottom .char8,
.frame-9 .coin-wallet-private-key.bottom .char8 {
  transform: rotate(75deg);
  -webkit-transform: rotate(75deg);
}
.frame-1 .coin-wallet-private-key.bottom .char7,
.frame-2 .coin-wallet-private-key.bottom .char7,
.frame-9 .coin-wallet-private-key.bottom .char7 {
  transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
}
.frame-1 .coin-wallet-private-key.bottom .char6,
.frame-2 .coin-wallet-private-key.bottom .char6,
.frame-9 .coin-wallet-private-key.bottom .char6 {
  transform: rotate(65deg);
  -webkit-transform: rotate(65deg);
}
.frame-1 .coin-wallet-private-key.bottom .char5,
.frame-2 .coin-wallet-private-key.bottom .char5,
.frame-9 .coin-wallet-private-key.bottom .char5 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.frame-1 .coin-wallet-private-key.bottom .char4,
.frame-2 .coin-wallet-private-key.bottom .char4,
.frame-9 .coin-wallet-private-key.bottom .char4 {
  transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
}
.frame-1 .coin-wallet-private-key.bottom .char3,
.frame-2 .coin-wallet-private-key.bottom .char3,
.frame-9 .coin-wallet-private-key.bottom .char3 {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
}
.frame-1 .coin-wallet-private-key.bottom .char2,
.frame-2 .coin-wallet-private-key.bottom .char2,
.frame-9 .coin-wallet-private-key.bottom .char2 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.frame-1 .coin-wallet-private-key.bottom .char1,
.frame-2 .coin-wallet-private-key.bottom .char1,
.frame-9 .coin-wallet-private-key.bottom .char1 {
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char32,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char32,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char32 {
  transform: rotate(210deg) !important;
  -webkit-transform: rotate(210deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char31,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char31,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char31 {
  transform: rotate(205deg) !important;
  -webkit-transform: rotate(205deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char30,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char30,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char30 {
  transform: rotate(200deg) !important;
  -webkit-transform: rotate(200deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char29,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char29,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char29 {
  transform: rotate(195deg) !important;
  -webkit-transform: rotate(195deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char28,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char28,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char28 {
  transform: rotate(190deg) !important;
  -webkit-transform: rotate(190deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char27,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char27,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char27 {
  transform: rotate(185deg) !important;
  -webkit-transform: rotate(185deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char26,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char26,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char26 {
  transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char25,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char25,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char25 {
  transform: rotate(175deg) !important;
  -webkit-transform: rotate(175deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char24,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char24,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char24 {
  transform: rotate(170deg) !important;
  -webkit-transform: rotate(170deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char23,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char23,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char23 {
  transform: rotate(165deg) !important;
  -webkit-transform: rotate(165deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char22,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char22,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char22 {
  transform: rotate(160deg) !important;
  -webkit-transform: rotate(160deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char21,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char21,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char21 {
  transform: rotate(155deg) !important;
  -webkit-transform: rotate(155deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char20,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char20,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char20 {
  transform: rotate(150deg) !important;
  -webkit-transform: rotate(150deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char19,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char19,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char19 {
  transform: rotate(145deg) !important;
  -webkit-transform: rotate(145deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char18,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char18,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char18 {
  transform: rotate(140deg) !important;
  -webkit-transform: rotate(140deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char17,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char17,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char17 {
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char16,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char16,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char16 {
  transform: rotate(130deg) !important;
  -webkit-transform: rotate(130deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char15,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char15,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char15 {
  transform: rotate(125deg) !important;
  -webkit-transform: rotate(125deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char14,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char14,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char14 {
  transform: rotate(120deg) !important;
  -webkit-transform: rotate(120deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char13,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char13,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char13 {
  transform: rotate(115deg) !important;
  -webkit-transform: rotate(115deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char12,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char12,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char12 {
  transform: rotate(110deg) !important;
  -webkit-transform: rotate(110deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char11,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char11,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char11 {
  transform: rotate(105deg) !important;
  -webkit-transform: rotate(105deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char10,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char10,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char10 {
  transform: rotate(100deg) !important;
  -webkit-transform: rotate(100deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char9,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char9,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char9 {
  transform: rotate(95deg) !important;
  -webkit-transform: rotate(95deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char8,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char8,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char8 {
  transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char7,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char7,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char7 {
  transform: rotate(85deg) !important;
  -webkit-transform: rotate(85deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char6,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char6,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char6 {
  transform: rotate(80deg) !important;
  -webkit-transform: rotate(80deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char5,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char5,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char5 {
  transform: rotate(75deg) !important;
  -webkit-transform: rotate(75deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char4,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char4,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char4 {
  transform: rotate(70deg) !important;
  -webkit-transform: rotate(70deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char3,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char3,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char3 {
  transform: rotate(65deg) !important;
  -webkit-transform: rotate(65deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char2,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char2,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char2 {
  transform: rotate(60deg) !important;
  -webkit-transform: rotate(60deg) !important;
}
.keys-encrypted.frame-1 .coin-wallet-private-key.bottom .char1,
.keys-encrypted.frame-2 .coin-wallet-private-key.bottom .char1,
.keys-encrypted.frame-9 .coin-wallet-private-key.bottom .char1 {
  transform: rotate(55deg) !important;
  -webkit-transform: rotate(55deg) !important;
}
