

@media print
{
	@page {size: landscape}
	
	.no-print,
	.no-print li,
	.round-block,
	label,
	em,
	li,
	a,
	.coin-type,
	.left-label,
	.preload,
	#header,
	input
	{
		display: none !important;
	}
	#form1{
		overflow: hidden !important;
	}
	* 
	{
	background-color: none !important;
	border: none !important;
	}
	body
	{
		margin: 0px;
		padding: 0px;
		zoom: 0.81;
		-moz-transform-origin: left top;
		-moz-transform: scale(0.81);
	}
	.inner
	{
		max-width: 1220px !important;
	}
	#page.wrapper .inner
	{
		background-color: white !important;
	}
	.inner .section, 
	.inner .section .sub-section,
	#header,
	.coin-setup-print,
	.coin-setup,
	.wrapper,
	form,
	body
	{
		margin: 0px !important;
		padding: 0px !important;
	}
	.coin-wallets
	{
		float: left !important;
		background-color: white !important;
		zoom: 1.00 !important;
		-moz-transform-origin: left top;
		-moz-transform: scale(1.00) !important;	
		height: auto !important;
		border: none !important;
		max-width: auto !important;
		padding: 0px !important;
		margin-bottom: 0px !important;
		background-color: none !important;
		margin-top:  0px !important;
		margin-right: 0px !important;
	}
	.coin-wallets.back
	{
		float: right !important;
	}
	.coin-wallet.zoom-90
	{
		zoom: 0.90 !important;
		-moz-transform-origin: left top;
		-moz-transform: scale(0.90)  !important;
	}
	.coin-wallet.zoom-95
	{
		zoom: 0.95 !important;
		-moz-transform-origin: left top;
		-moz-transform: scale(0.95)  !important;
	}
	.coin-wallet.zoom-100
	{
		zoom: 1.00 !important;
		-moz-transform-origin: left top;
		-moz-transform: scale(1.00)  !important;
	}
	.coin-wallet.zoom-105
	{
		zoom: 1.05 !important;
		-moz-transform-origin: left top;
		-moz-transform: scale(1.05)  !important;
	}
	.coin-wallet.zoom-110
	{
		zoom: 1.10 !important;
		-moz-transform-origin: left top;
		-moz-transform: scale(1.10)  !important;
	}
	body
	{
	background-color: white !important;
	}
	.donate-reminder
	{
	display: none;
	background: none;
	top: 400px;
	left: 100px;
	position: absolute
	}
	.inner .section, .inner .section .sub-section
	{
		margin:0px;
	}
}

body{
	margin:0px;
	padding:0px;
	background-color:#f2f2f2;
}

p{
	margin:0px;
}

p em{font-size:14px;font-weight:regular;}

#dark-box{
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height:4000px;
	position:absolute;
	background-color:#000;
	z-index:9999;
	opacity:0.6;
	display:none;
}

/**bkg colors**/

.darkColor-bkg{
	background-color:#13374E;
}

.medColor-bkg{
	background-color:#125781;
}

.brightColor-bkg{
	background-color:#3EB5FF;

}

.bold
{
font-weight: 500;
}

.medium-button, .large-button{
	background-color:#3EB5FF;
	color:#fff;
}

.medium-button:hover, .large-button:hover{
}

.medium-button{
	width:48%;

}

.medium-button.left{
	float:left;
	margin-right:4%;
}

.medium-button.last{
	margin-right:0%;
}

.large-button {
	font-size: 27px;
	margin-top:20px;
	padding: 16px;
	width:100%;
	height:50px;

}

.button {
	font-size: 15px;
	padding: 10px;
}


.wrapper{
	width:100%;
}
.key-error,
.key-success
{
width: 100%;
margin: 5px;
}
.key-error
{
color: red;
}
.key-success
{
color: green;
}
.private-key-error
{
color: red;
margin-left: 325px;
top: -10px;
position: relative;
display:none;
}
#header{
	width:100%;
	overflow: visible;
	position: relative;
	height: 86px;
	overflow-y: visible;
	margin-bottom: 23px;
}
#header .inner
{
	position: relative;
	overflow-y: visible;
	overflow: visible;
	height: 117px;
	margin-bottom: 53px;
}

.switch-toggle.theme
{
	float: right;
	width: 75px;
}

#logo{
	margin: auto;
	display: block;
	width:162px;
	float:left;
	margin-top: 20px;
	margin-bottom:10px;
}

.section.security .left-label
{
width: 600px;
text-align: left;
height: 50px;
padding: 19px;
font-size: 12px;
}
.security-questions .switch-toggle
{
	width: 130px;
	height: 50px;
}
.security-questions .switch-toggle label
{
	padding-top: 10px;
}

.switch-toggle label
{
cursor: pointer;
}

#page.wrapper .inner{
	min-height: 600px;
}

div.inner{
	max-width:1170px;
	margin:auto;
}

/**************
	Columns
***************/
.row{
		display:block;
		max-width:100%;
		width:100%;
		float:left;
		clear:both;

		        box-sizing:border-box;
		   -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
}

form .row .row{
	width:100%;
}

form .row .row > div{
	padding:10px;
}

.colone, .coltwo, .colthree, .colfour, .colfive, .colsix, .colseven, .coleight, .colnine, .colten, .coleleven, .coltwelve{
			display:block;
			float:left;
			overflow:auto;
			margin-left:1%;
			box-sizing:border-box;
		   -moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
}

.colinner{
	padding:20px;
	overflow:auto;
}

.colinner > h3{
	text-align:center;
	margin-bottom:25px;
}
.first{
	margin-left:0px;
	clear:left;

}

.last{
	float:right;
	margin-right:0px;
}

.center{
	float:none;
	margin:auto;
}

.colone{width:7.333%;}.coltow{width:15.666%;}.colthree{width:23.999%;}.colfour{width:32.333%;}.colfive{width:40.666%;}.colsix{width:48.999%;}.colseven{width:57.333%;}.coleight{width:65.666%;}.colnine{width:73.999%;}.colten{width:82.333%;}.coleleven{width:90.666%}.coltwelve{width:98.999%;}



h1, h2, h3, h4, h5, h6{
	font-weight:500;
	color:#13374E;
}




.coin-type
{
top: 0px;
height: 105px;
background: #fff;
z-index: 100000;
position: absolute;
left: 192px;
padding: 0px;
border: 1px solid #e2e2e2;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#coin-key{
	float: left;
	width: 100%;
	text-align: center;
}
#private-key-encrypt
{
margin: auto;
margin-top: 10px;
}
.private-key-encrypted
{
display: block;
min-height: 42px;
float: left;
opacity: 1;
clear: left;
width: 100%;
}
#private-key-encrypted
{
width: 75%;
}


.coin-type .coin-type-radio,
.wallet-backup-radio {
	border: 1px solid;
	padding: 4px;
	border-radius: 5px;
	margin: 3px;
	background-color: #eeeeee;
}
.selector-grid-wrapper
{
	z-index:10000;
	max-width: 1102px;
}

.selector-grid-row{
	display: block;
	width: 100%;
	height: 0px;
	
	background-color: #eee;
}

.coin-type .selector-grid-wrapper.selecting .selector-grid-row{
	height: 105px;
}

.coins-grid-wrapper{
	height:auto;
	overflow:visible;
	border-radius:10px;
}
.coin-grid-row{

}
.coins-grid-wrapper.selecting .coin-grid-row{
	height: 105px;
}

.design-grid-wrapper .design
{
	display:none;
	width: 100px;
	height: 100px;
	background-size: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	padding:115px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:center 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;

	border:1px solid #fff;
}
.coins-grid-wrapper .coin{
	display:none;
	width: 100px;
	height: 100px;
	background-size: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	padding:115px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:center 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;

	border:1px solid #fff;
}

.selector-grid-wrapper .selector.active{
	display: block;
}
	
.selector-grid-wrapper.selecting .selector{
	display: block;
	background-color:#f3f3f3;
	z-index: 1000;
}
.selector-grid-wrapper.selecting .frame.selector{
	background-color:#888888;
}

.current-coin{
	display:block;
	width:120px;
	height:105px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px 10px 0px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;
	background-color:#fff;
	float:left;
}

.current-coin em{

	font-weight: bold;
	width: 100%;
	font-style: normal;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	height: 25px;
}
.coins-grid-wrapper .coin:hover, 
.coins-grid-wrapper .coin.active{
	background-color:#eee;
}
.coins-grid-wrapper.selecting{
	width: 100%;
	overflow: visible;
	float: left;
	position: relative;
	background-color:#eee;
	margin-bottom: 10px;
	box-shadow:0px 5px 10px rgba(0, 0, 0, 0.3);
}



.coins-grid-wrapper .coin em{
	width:100%;
	display:inline-block;
	text-align:center;
	padding-bottom: 5px;
	font-style: normal;
	font-weight: bolder;
	padding-top: 2px;
	background: #dddddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.coin.selector{
width: 80px;
height: 105px;
}
.coin-type .coin img {
height: 80px;
width: auto;
}

/*
.coin-type .coin-type-radio,
.wallet-backup-radio {
	border: 1px solid;
	padding: 4px;
	border-radius: 5px;
	margin: 3px;
	background-color: #eeeeee;
}
.selector-grid-wrapper
{
	z-index:10000;
	max-width: 1102px;
}
.selector-grid-row{
	display: block;
	width: 100%;
	height: 0px;
}

.coin-type .selector-grid-wrapper.selecting .selector-grid-row{
	height: 140px;
}

.coins-grid-wrapper{
	height:auto;
	overflow:visible;
}
.coin-grid-row{

}
.coins-grid-wrapper.selecting .coin-grid-row{
	height: 140px;
}

.design-grid-wrapper .design
{
	display:none;
	width: 100px;
	height: 100px;
	background-size: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	padding:115px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:center 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;

	border:1px solid #fff;
}
.coins-grid-wrapper .coin{
	background-size: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	background-repeat:no-repeat;
	background-position:left 10px;
	background-size:50px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;
}

.selector-grid-wrapper .selector.active{
	display: block;
}
	
.selector-grid-wrapper.selecting .selector{
	display: block;
	background-color:#fff;
	z-index: 1000;
}
.selector-grid-wrapper.selecting .frame.selector{
	background-color:#888888;
}

.current-coin{
	display:block;
	width:120px;
	height:140px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px 10px 0px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;
	background-color:#fff;
	float:left;
}

.current-coin em{

	font-weight: 500;
	width: 100%;
	font-style: normal;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	height: 25px;
}
.coins-grid-wrapper .coin:hover, 
.coins-grid-wrapper .coin.active{
	background-color:transparent;
}
.coins-grid-wrapper.selecting{
	width: 100%;
	overflow: visible;
	float: left;
	position: relative;
	background-color:#eee;
	margin-bottom: 10px;
	box-shadow:0px 5px 10px rgba(0, 0, 0, 0.3);
}



.coins-grid-wrapper .coin em{
	display:inline-block;
	text-align:center;
	font-style: normal;
	color: #3a7abc;
	display:block;
	width: 100%;
	padding:5px 0px 5px 0px;
	text-transform:uppercase;
	position:relative;
	z-index:100;
	border-radius:5px;
	text-align:center;
}

.coin.selector img{
	display:block;
	width:50px;
	margin:auto;
}

#coin-selected{
	position:absolute;
	display:block;
	top:110px;
	right:0px;
}

#coin-selected:hover{
	cursor:pointer;
}

#coin-selected img{
	float: left;
	display: block;
	width: 50px;
	position: relative;
	z-index: 1000;
}

#coin-selected em{
	display:inline-block;
	text-align:center;
	font-style: normal;
	background-color: #3a7abc;
	color: #fff;
	display:block;
	float:left;
	width: 70px;
	padding:5px 5px 5px 10px;
	margin-left:-16px;
	position:relative;
	z-index:100;
	margin-top:13px;
	border-radius:5px;
	text-transform:uppercase;
}

#coin-selected .notch{
	border-left: 8px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
	display: none;
	position: absolute;
	top: 58px;
	width: 0;
	height: 0;
	z-index: 1000000;
	left: 17px;
}

#coin-selected .notchBack{
	border-left: 8px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #e2e2e2;
	display: none;
	position: absolute;
	top: 56px;
	width: 0;
	height: 0;
	z-index: 100009;
	left: 17px;
}

#coin-selected.active .notch, #coin-selected.active .notchBack{
	display:block;
}
*/
.coin-wallets.btc .coin-logo,
.coin.btc-coin {
	background-image:url('../images/coin-icons/btc-logo.png');
}
.btc .coin-name:after
{
content: 'Bitcoin';
}

.coin-wallets.ltc .coin-logo,
.coin.ltc-coin{
	background-image:url('../images/coin-icons/ltc-logo.png');
}
.ltc .coin-name:after
{
content: 'Litecoin';
}

.coin-wallets.nmc .coin-logo,
.coin.nmc-coin{
	background-image:url('../images/coin-icons/nmc-logo.png');
}
.nmc .coin-name:after
{
content: 'Namecoin';
}

.coin-wallets.nxt .coin-logo,
.coin.nxt-coin{
	background-image:url('../images/coin-icons/nxt-logo.png');
}
.nxt .coin-name:after
{
content: 'NXT';
}

.coin-wallets.nem .coin-logo,
.coin.nem-coin{
	background-image:url('../images/coin-icons/nem-logo.png');
}
.nem .coin-name:after
{
content: 'NEM';
}

.coin-wallets.ppc .coin-logo,
.coin.ppc-coin{
	background-image:url('../images/coin-icons/ppc-logo.png');
}
.ppc .coin-name:after
{
content: 'Peercoin';
}

.coin-wallets.doge .coin-logo,
.coin.doge-coin{
	background-image:url('../images/coin-icons/doge-logo.png');
}
.doge .coin-name:after
{
content: 'Dogecoin';
}


.coin-wallets.xpm .coin-logo,
.coin.xpm-coin{
	background-image:url('../images/coin-icons/xpm-logo.png');
}
.xpm .coin-name:after
{
content: 'Primecoin';
}


.coin-wallets.aur .coin-logo,
.coin.aur-coin{
	background-image:url('../images/coin-icons/aur-logo.png');
}
.aur .coin-name:after
{
content: 'Auroracoin';
}


.coin-wallets.msc .coin-logo,
.coin.msc-coin{
	background-image:url('../images/coin-icons/msc-logo.png');
}
.msc .coin-name:after
{
content: 'Mastercoin';
}


.coin-wallets.vtc .coin-logo,
.coin.vtc-coin{
	background-image:url('../images/coin-icons/vtc-logo.png');
}
.vtc .coin-name:after
{
content: 'Vertcoin';
}

.coin-wallets.mint .coin-logo,
.coin.mint-coin{
	background-image:url('../images/coin-icons/mint-logo.png');
}
.mint .coin-name:after
{
content: 'Mintcoin';
}

.coin-wallets.xcp .coin-logo,
.coin.xcp-coin{
	background-image:url('../images/coin-icons/xcp-logo.png');
}
.xcp .coin-name:after
{
content: 'Counterparty';
}

.coin-wallets.ftc .coin-logo,
.coin.ftc-coin{
	background-image:url('../images/coin-icons/ftc-logo.png');
}
.ftc .coin-name:after
{
content: 'Feathercoin';
}

.coin-wallets.pts .coin-logo,
.coin.pts-coin{
	background-image:url('../images/coin-icons/pts-logo.png');
}
.pts .coin-name:after
{
content: 'ProtoShares';
}

.coin-wallets.qrk .coin-logo,
.coin.qrk-coin{
	background-image:url('../images/coin-icons/qrk-logo.png');
}
.qrk .coin-name:after
{
content: 'Quark';
}

.coin-wallets.cgb .coin-logo,
.coin.cgb-coin{
	background-image:url('../images/coin-icons/cgb-logo.png');
}
.cgb .coin-name:after
{
content: 'Cryptogenic';
}

.coin-wallets.dtc .coin-logo,
.coin.dtc-coin{
	background-image:url('../images/coin-icons/dtc-logo.png');
}
.dtc .coin-name:after
{
content: 'Datacoin';
}

.coin-wallets.dvc .coin-logo,
.coin.dvc-coin{
	background-image:url('../images/coin-icons/dvc-logo.png');
}
.dvc .coin-name:after
{
content: 'Devcoin';
}

.coin-wallets.dgc .coin-logo,
.coin.dgc-coin{
	background-image:url('../images/coin-icons/dgc-logo.png');
}
.dgc .coin-name:after
{
content: 'Digitalcoin';
}

.coin-wallets.ifc .coin-logo,
.coin.ifc-coin{
	background-image:url('../images/coin-icons/ifc-logo.png');
}
.ifc .coin-name:after
{
content: 'Infinitecoin';
}

.coin-wallets.ixc .coin-logo,
.coin.ixc-coin{
	background-image:url('../images/coin-icons/ixc-logo.png');
}
.ixc .coin-name:after
{
content: 'Ixcoin';
}

.coin-wallets.mmc .coin-logo,
.coin.mmc-coin{
	background-image:url('../images/coin-icons/mmc-logo.png');
}
.mmc .coin-name:after
{
content: 'Memorycoin';
}

.coin-wallets.nvc .coin-logo,
.coin.nvc-coin{
	background-image:url('../images/coin-icons/nvc-logo.png');
}
.nvc .coin-name:after
{
content: 'Novacoin';
}

.coin-wallets.trc .coin-logo,
.coin.trc-coin{
	background-image:url('../images/coin-icons/trc-logo.png');
}
.trc .coin-name:after
{
content: 'Terracoin';
}

.coin-wallets.wdc .coin-logo,
.coin.wdc-coin{
	background-image:url('../images/coin-icons/wdc-logo.png');
}
.wdc .coin-name:after
{
content: 'Worldcoin';
}

.coin-wallets.zet .coin-logo,
.coin.zet-coin{
	background-image:url('../images/coin-icons/zet-logo.png');
}
.zet .coin-name:after
{
content: 'Zetacoin';
}


.key-details .coin
{
position:absolute;
width: 35px;
height: 35px;
background-size: 100%;
left:210px;
top:24px;
}
.coin-type .coin
{
width: 100px;
margin: 0px;
padding: 0px;
text-align: center;
}
.coin-type .coin img
{
}
.copyright
{
top: 17px;
color: white;
position: relative;
left: -38px;
text-shadow: 1px 1px 1px white;
font-size: 11px;
}
.coin-wallet-write-area
{
display: none;
height: 200px;
width: 331px;
background: white;
top: 44px;
position: relative;
left: 703px;
border-radius: 13px;
opacity: 0.86;
text-align: center;
}

.coin-type .coin:hover{
	border-radius:5px;
	background-color:#e2e2e2;
}

.back .coin-wallet-write-area
{
display: block;
}
.coin-wallet-write-area h1
{
font-size: 30px;
margin-bottom: 0px;
}
.coin-wallet-write-area h2
{
font-size: 15px;
float: left;
width: 50%;
}

.coin.disabled {
	-webkit-filter: grayscale(100%);
	cursor: default !important;
}
.coming-soon{

	position: relative;
	top: -32px;
	float: inherit;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	
	height: 0px;
	font-weight: bolder;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
	font-size: 13px;
color: white;
}
.coming-soon.untested
{
left: 14px;
text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
}

label.left-label {
	width: 140px;
	display: block;
	float: left;
	clear: left;
	background-color: #D8D8D8;
	padding: 4px;
	font-size: 12px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-right: none;
	color: #000;
	margin-bottom:2px;
	padding-right:20px;
	text-align:right;
	font-weight: bolder;
}
.random-info .left-label
{	
	margin-top: 10px;
	width: 146px;
	padding: 5px;
}
.random-info .rng-keep-collecting
{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 158px !important;
}

.coin-setup > div,
.coin-setup > .key-import > div {
	min-height: 50px
}
.hue-shift-button
{
float: left;
height: 50px;
width: 50px !important;
}
.coin-wallet-background
{
position: absolute;
top: 0px;
left: 0px;
z-index: 1;
max-height:358px;
}
.design-type .coin-wallet-background
{
top: 5px;
border-radius: 10px;
width: 207px;
height: 67px;
margin: auto;
position: inherit;
z-index: 0;
}
#hue-slider
{
margin-left: 20px;
float: left;
margin-top: 16px;
width: 46%
}
.input-key
{
float: left;
clear: both;
width: 100%;
border-radius: 10px;
}
.decrypt-key
{
float: left;
clear: both;
text-align: center;
margin-top: 12px;
margin-bottom: 10px;
width: 100%;
}
.design-type .active > .coin-wallet-background
{
border: 5px solid;
}
.dismissable
{
position: relative;
}
.dismissable .close-button
{
background-image: url('../images/close.png');
width: 22px;
height: 22px;
background-size: 100%;
position: absolute;
right: 4px;
top: 4px;
cursor: pointer;
opacity: 0.5;
}

.help-toggle
{
background-image: url('../images/help.png');
width: 22px;
height: 22px;
float: right;
cursor: pointer;
opacity: 0.5;
top: 5px;
right: 5px;
position:absolute;
}
.help-active .help-toggle
{
opacity: 1.0;
}
.help-bubble
{
border:1px solid;
border-radius: 5px;
margin-top:0px;
margin-bottom:10px;
height: 0px;
display: none;
background-color: #fff;
border-color: #ccc;
width: 100%;
box-shadow: 0 3px 0px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.45);
opacity:0.5 !important;
}
.help-bubble > span
{
margin: 20px;
display: block;
}
.help-active .help-bubble
{
display: block;
}


.risk-contact-us
{
margin-top: 10px;
}
#form1{
	overflow: visible;
}
input{
	font-weight:300;
}
input[type=text],
input[type=password]{
	height:30px;
	margin:0px;
}

#private-key-wif,
#private-key-hex,
#public-key-hex,
#public-address,
#public-key-checksum,
#public-key-address-checksum,
#public-key-hash160,
#coin-address-verify,
#private-key-checksum
{
	width: 75%;
	display:block;
	float:left;
	margin-bottom:20px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 3px;
}

input[readonly],
textarea[readonly]
{
	background-color: #fff;
	cursor: default;
	border-radius:5px;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.45);
}

#private-key-generate {
	display: block;
	width: 100%;
	border:none;
	border-right: none;
	border-radius: 5px;
	top: 23px;
	font-weight: bolder;
	margin-bottom:20px;
}

#private-key-generate[disabled]{
	border:none;
	opacity:0.8;
	text-shadow:none;
}

#private-key-generate.enabled{
	opacity:1;
}

#private-key-compressed{
	width:45px;
	float:left;
}

#private-key-input,
#decrypt-password
{
	display: inline;
	width: 100%;
	font-size: 12px;
	height: 40px;
	border: 1px solid #999;
	border-radius: 5px;
	position: relative;
	margin: auto;
	margin-bottom:20px;
	text-align: center;
}
#decrypt-password
{
width: 450px;
}
#private-key-decrypt
{
margin: auto;
width: 200px;
}
.decrypt-key .progress
{
margin-bottom: 5px;
margin-left: -7px;
margin: auto;
top: 75px;
position: relative;
float: left;
left: 67%;
}

#private-key-submit{
	margin-left: 19%;
	margin-top: 6px;
	float: left;
	width: 250px;
	height: 72px;
	font-size: 18px;
}

.button{
	height:30px;
}

input[type=button]
{
	display:block;
	color: white;
	background-color:#205D82;
	font-size:16px;
	font-weight:normal;
    border-radius: 5px;
    box-shadow: 0 2px 0px #13374E, inset 0 1px 1px rgba(255, 255, 255, 0.45);
    line-height:3px;
    height:50px;
    border:none;
    -webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;

}

input[type=button]:hover{
	background-color:#13374E;
}
.warning
{
border-color: #ccc;
width: 100%;
background-color: #fff;
box-shadow: 1px 1px 30px rgba(233, 75, 120, 0.5);
margin-bottom: 23px;
border: 1px solid #e94b78;
padding: 10px;
color: #444;
text-align: center;
font-weight: 500;
border-radius: 10px;
padding: 25px;
max-width: 1170px;
float: left;
}
.warning.beta-software
{
position: absolute;
	top:183px;
}
.warning p{
	color:#e94b78;
}
.warning p.subtext{
	color:#000000;
}

.warning em{
	color:#000;
}
input[type=button]:disabled
{
background-color: #A5A5A5;
box-shadow: 0 2px 0px #87939B, inset 0 1px 1px rgba(255, 255, 255, 0.45);
}
input[type=button].error
{
	background-color:#BB3B3B;
}
.print-buttons input[type=button]{
	margin:auto;
}

.inner .section, 
.inner .section .sub-section
{
	margin-top: 30px;
}

.inner .section .sub-section.coin-setup-keys{
	margin-top:150px;
}

.inner .section .sub-section.coin-setup-print{
	margin-top:202px;
}
/* this acts very weird.
.inner .section .sub-section.up{	
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
*/

.inner, .warning {min-width:1170px;}
.round-block.print-appearance
{
float: right;
width: 48%;
position: relative;
overflow: visible;
padding-bottom: 10px;
}

.print-buttons
{
	clear: left;
}

.round-block
{
	position: relative;
	border-radius: 5px;
	background-color: #f7f7f7;
	margin-bottom:25px;
	overflow:auto;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.15);

}


.section.security .round-block
{
	padding: 22px;
}

.round-block .colinner em{
	display:block;
	margin-top:-10px;
	font-weight:100;
	color:#666;
}

.choose-coin
{
	display: block;
	font-size: 15px;
	font-weight: 500;
	margin: 0px 5px 5px 5px;
}
.key-import
{
	float: left;
	overflow: visible;
}
.random-info
{
	float: right;
	position: relative;
}
.entropy-satisfied
{
display:none;
position: absolute;
top: 30px;
left: 120px;
}
#random-pool
{
	height: 122px;
	font-size: 10px;
	width: 100%;
}

.key-details{
	display:none;
}

.pool-status-bar
{
	height: 35px;
	width: 100%;
	margin: auto;
	background-color: #ca3a3a;
	border-radius:5px;
}
.pool-status-complete
{
	height: 35px;
	background-color: #205D82;
	border-radius:5px;
}

.random-info label:first-child{
	padding-top:0px;
}

div.rng-status{
	
	border-radius:5px;
}

span.rng-status-text{
	margin-top: 11px;
	display: block;
	position: absolute;
	color: #fff;
	width:94%;
	text-align:center;
}
.key-info-public-address label
{
	
}
.key-info-public-address input
{
	font-size: 18px;
	font-weight: 500;
}


/*************
* Navigation *
*************/

.menu {
	background-color: transparent;

}

.menu ul {
	padding: 0px 0px 0px 10px;
	text-align: left;
	overflow:auto;
	float:left;
}

.menu ul li {

	color:#ececec;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	padding:10px 20px 10px 20px;
	border-radius:5px;
	float: left;
	height:86px;
	line-height:21px;
	height:40px;
	margin-top:23px;
	margin-right:12px;
	font-weight:300;

}
.menu ul li.disabled {
	color: #3a7abc;
	cursor: default;
	background:transparent;
}
.menu ul li.active {
	background-color:rgba(0,0,0,0.4);
}

.menu ul li.last{
	margin-right:0px;
}
.menu ul li.right {
	float: right;
}
.menu ul li.menu-key-donate {
	font-size: 14px;
	border: 1px solid #ececec;
	border-radius: 3px;
	margin-right: 0px;
	margin-left:40px;
	height: 50px;
	margin-top: 18px;
	line-height: 29px;
}

#main-menu{
	float:right;
}

#coin-setup-menu{
	position:relative;
	margin:0px;
	margin-bottom:20px;
}

#coin-setup-menu a{
	display:block;
	width:200px;
	height:40px;
	left:0;
	top:0;
	border-radius:3px;
}

ul#coin-setup-menu.menu{
	width: 100%;
	display: block;
	background: transparent;
	float: left;
}

ul#coin-setup-menu li{

	padding:20px;
	margin-right:20px;
	height:40px;
	list-style-type: none;
	float:left;
	line-height:0px;
	color: #233b4e;
	font-size: 14px;
	font-weight:300;
	cursor:pointer;
	width:220px;
	text-align:center;
	margin-left:-10px;
	border-radius:3px;
	
}

ul#coin-setup-menu li.disabled{
	background-color: #ddd;
	cursor: default;

}

ul#coin-setup-menu li.active{
	color:#ececec;
}

#lights{
	margin-top:27px;
	margin-right:30px;
}

.coin-wallet
{
	width: 1100px;
	height: 360px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
	
	position: relative;
}

.zoom-90 .coin-wallet
{
	zoom: 0.90;
	-moz-transform-origin: left top;
	-moz-transform: scale(0.90);
}
.zoom-95 .coin-wallet
{
	zoom: 0.95;
	-moz-transform-origin: left top;
	-moz-transform: scale(0.95);
}
.zoom-100 .coin-wallet
{
	zoom: 1.00;
	-moz-transform-origin: left top;
	-moz-transform: scale(1.00);
}
.zoom-105 .coin-wallet
{
	zoom: 1.05;
	-moz-transform-origin: left top;
	-moz-transform: scale(1.05);
}
.zoom-110 .coin-wallet
{
	zoom: 1.10;
	-moz-transform-origin: left top;
	-moz-transform: scale(1.10);
}

#print-button
{
	float: right;
width: 61%;
}

input#compress-decompress-button{
	float:left;
	margin-left:10px;
}

#coin-setup-menu
{
position: relative;
overflow: visible;
}

.coin-wallets
{
zoom: 65%;
-moz-transform-origin: left top;
-moz-transform: scale(0.65);
border: 1px dashed;
border-radius: 16px;
float: left;
padding: 15px;
margin-bottom: 50px;
background-color: #ddd;
min-height: 854px;
margin-top: 0px;
/* FF Fixes */
margin-right: -500px;
margin-bottom: -279px;
}

.frame-instructions
{
float: right;
width: 36%;
padding: 20px;
}

.coin-wallets .coin-logo
{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 65px;
	left: 205px;
	padding-top: 108px;
	text-align: center;
	background-repeat: no-repeat;
	font-size: 26px;

	opacity: 0.85;
}
.coin-wallets .coin-logo:after
{
	color: white;
	background-color: rgba(0,0,0,0.7);
	padding: 7px;
	border-radius: 25px;
}
.coin-wallets.back .coin-logo
{
	top: 105px;
	left: 300px;
	background-size: 100%;
	width: 133px;
	height: 133px;
}
.coin-wallets.back .coin-logo:after
{
	content: none;
	background-color: none;
}
.coin-wallets.back .zero-trust-wallet-seal
{
	top: 40px;
	left: 500px;	
	top: 40px;
	z-index: 3;
}
.coin-wallet-1
{

}

.coin-wallet-2
{
	margin-top: 90px;
}

.coin-wallet-left
{
	float: left;
	width: 331px;
	text-align: center;
	margin-left: 6px;
	margin-top: 9px;
}

.coin-wallet-right
{
	float: right;
	width: 218px;
	text-align: center;
	padding-top: 45px;
	padding-right: 0px;

}

.coin-wallet-address
{
	font-size: 14px;
	color: white;
	background-color: rgba(0,0,0,0.7);
	padding: 2px;
}

.coin-wallet-address-qr
{
	margin-top: 77px;
	margin-left: 19px;
	margin-bottom: 68px;
	text-align: left;
}
.coin-wallet-address-qr canvas
{
	width: 103px;
	height: 103px;
}

.coin-wallet-private-key
{
	font-size: 9pt;
	color: white;
	background-color: rgba(0,0,0,0.7);
	padding: 2px;
}

.coin-wallet-private-key-qr
{
	margin-top: 23px;
	margin-bottom: 25px;
}
.coin-wallet-private-key-qr canvas
{
	width: 132px;
	height: 132px;
}
.hue-shift
{
float: left;
width: 100%;
}
.hue-shift-amount
{
position: absolute;
top: 275px;
left: 264px;
}
.hue-shift-reset
{
width: 100px !important;
margin-left: 20px !important;
}
.coin-wallet .wallet-frame
{
	width: 100%;
	height: 100%;
	padding: 23px;
	padding-top: 30px;
	background-repeat: no-repeat;
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
}

.back .coin-wallet
{
	width: 1100px;
	height: 360px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.back .coin-wallet-2
{
	margin-top: 90px;
}

.back .coin-wallet-left, 
.back .coin-wallet-right
{
	display: none;
} 


.frame-3 .coin-wallets.back .zero-trust-wallet-seal
	{
	left: 700px;
	}


.switch-toggle{
	width:70%;
	float:left;
	margin-bottom:18px;
}

.switch-toggle.coins{
	width:100%;
}

.switch-toggle.right{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-left:1px solid #fff;
}

.switch-toggle.right a{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

.switch-toggle.switch-2{
	max-width:200px;
}


:focus {
	outline: 0;
}

label::-moz-focus-inner { 
  border: 0; 
}

a:hover, a:active, a:focus {
  outline:0;
  border:none;
}

.key-details .left-label
{
	font-size: 12px;
	margin-top: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 5px;
}
#print-settings
{
float: left;
width: 100%;
position: relative;
}
#print-settings .left-label
{
width: 117px;
margin-top: 0px;
padding: 9px;
}
#print-settings .print-buttons
{
width: 49%;
float: left;
padding-right: 10px;
min-height: 304px;
}
#print-settings .print-buttons
{
float: left;
width: 50%;
}
.sample .coin-wallet-address-qr:after
{
content: 'SAMPLE WALLET DO NOT USE';
color: red;
font-weight: bolder;
font-size: 18px;
position: absolute;
width: 171px;
text-align: center;
text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
background: rgba(0,0,0,0.5);
}
.frame-1.sample .coin-wallet-address-qr:after,
.frame-2.sample .coin-wallet-address-qr:after
{
margin-left: -138px;
margin-top: -58px;
}
.frame-3.sample .coin-wallet-address-qr:after,
.frame-4.sample .coin-wallet-address-qr:after,
.frame-5.sample .coin-wallet-address-qr:after
{
margin-left: 10px;
margin-top: 35px;
}
.frame-6.sample .coin-wallet-address-qr:after,
.frame-7.sample .coin-wallet-address-qr:after,
.frame-8.sample .coin-wallet-address-qr:after
{
margin-left: 18px;
margin-top: -43px;
}

.donate-keys
{
	padding: 21px;
	width: 900px;
	margin: auto;
	margin-bottom:40px;
}

.donate-keys h3{
	text-align:center;
	margin-bottom:40px;
}

.donate-coins-auto{
max-width:700px;
margin:auto;
}
#generate-new-wallet
{
float: left;
width: 36%;
}

.key-details .coin-wallet-private-key-qr,
.key-details .coin-wallet-address-qr
{
margin:0px;
padding:0px;
display: inline-block;
float: right;
position: absolute;
}
.key-details .coin-wallet-private-key-qr
{
top: 40px;
left: 555px;
}
.key-details .coin-wallet-private-key-qr:before
{
content: 'Private Key';
position: absolute;
top: -20px;
font-size: 11px;
text-decoration: underline;
}

.key-details .coin-wallet-address-qr
{
top: 40px;
left: 460px;
}
.key-details .coin-wallet-address-qr:before
{
content: 'Public Address';
position: absolute;
top: -20px;
font-size: 11px;
text-decoration: underline;
}

.key-details .coin-wallet-private-key-qr canvas,
.key-details .coin-wallet-address-qr canvas
{
width: 75px;
height: 75px;
background-color: white;
padding:5px;
border-radius: 5px;
}

.donate-keys .donate-key
{
}
.donate-reminder
{
float: right;
cursor: pointer;
width: 462px;
text-align: center;
background-color: #f2f2f2;
border-radius: 5px;
border: 1px solid #ddd;
padding: 7px;
margin-top: -13px;
position: relative;
margin-bottom: -64px;
z-index: 5;
}
.donate-reminder p
{
cursor: pointer;
font-size: 12px;
line-height: 10pt;
}
.donate-reminder img
{
cursor: pointer;
	margin-left: 10px;
	float: right;
margin-right: 4px;
margin-top: 5px;
}

.donate-keys .donate-key .coin
{
	width: auto;
	height: 100px;
	background-repeat: no-repeat;
	padding-left: 93px;
	margin-bottom: 15px;
	background-size: 86px;
	background-size:60px;
}
.donate-keys .donate-key .coin .donate-address
{
	width: 100%;
	height: 60px;
	background-color: #f3f3f3;
	border-radius: 15px;
	text-align: center;
	font-size: 22px;
	padding-top: 20px;
}
.trust-items
{
	width: 830px;
}

.trust-items .trust-item
{
	float: left;
	margin: 5px;
	background-color: #ddd;
	border-radius: 10px;
	text-align: center;
	width: 120px;
	border: 1px solid;
	cursor: pointer;
}

.trust-items .trust-item em
{
	background-color: #cccccc;
	text-decoration: none !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-style: normal;
	padding: 3px;
	font-weight: 500;
	margin-bottom: 5px;
	width: 100%;
	display: inline-block !important;
}

.trust-items .trust-item .trust-image
{
	width: 75px;
	height: 85px;
	margin: auto;
	background-repeat: no-repeat;
}

.trust-items .trust-item.trust-bugs .trust-image
{
	background-image: url('../images/security-bug.png');
}

.trust-items .trust-item.trust-your-os .trust-image
{
	background-image: url('../images/security-os.png');
}

.trust-items .trust-item.trust-your-browser .trust-image
{
	background-image: url('../images/security-browser.png');
}

.trust-items .trust-item.trust-your-network .trust-image
{
	background-image: url('../images/security-network.png');
}

.trust-items .trust-item.trust-this-tool .trust-image
{
	background-image: url('../images/security-this-tool.png');
}
.trust-items .trust-item.trust-your-printer .trust-image
{
	background-image: url('../images/security-printer.png');
}

.trust-items .security-level
{
	width: 100%;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 3px;
}
.trust-level-fully .security-level
{
background-color: #cc0000;
}
.trust-level-fully .security-level:before
{
content: "Full Trust";
}
.trust-level-some .security-level
{
background-color: #CC6A00;
}
.trust-level-some .security-level:before
{
content: "Some Trust";
}
.trust-level-zero .security-level
{
background-color: #000000;
}
.trust-level-zero .security-level:before
{
content: "Zero Trust";
}

.security-risks h3
{
	font-size: 22px;
	text-shadow: 3px 3px 2px #888;
}

.security-risks h4
{
	font-size: 18px;
}
.zero-trust-wallet-seal
{
display: none;
background: url('../images/zero-trust.png');
width: 100px;
height: 100px;
position: absolute;
top: 204px;
left: 200px;
}
.zero-trust .zero-trust-wallet-seal
{
display: block;
}
.zero-trust-seal
{
display: none;
background: url('../images/zero-trust.png') no-repeat scroll 0% 0% transparent;
width: 100px;
height: 100px;
background-size: 100%;
position: absolute;
top: -8px;
left: 308px;
}

.security-risks .risk
{
	font-size: 14px;
	width: 1066px;
	color: #333333;
	height: 75px;
	border: 1px solid;
	border-top-left-radius: 10px;
	background-color: #cccccc;
	margin-bottom: 10px;
	border-bottom-left-radius: 10px;
}
.security-risks  .risk-category
{
	background-color: #dddddd;
	padding: 8px;
	margin-top: 13px;
	border-radius: 10px;
	border: 1px solid #888888;
}
.security-risks .risk .risk-details
{
	width: 986px;
	float: left;
	padding: 5px;
}

.security-risks .risk-fix
{
	float: left;
	margin-top: 5px;
	background: #aaaaaa;
	border-radius: 5px;
	max-width: 586px;
	padding: 5px;
	margin-left: 5px;
}
.security-risks .risk-fix:before
{
	font-weight: 500;
	content: "How to fix: ";
}

.security-risks .risk .risk-status:after
{
display: block;
padding-top: 30px;
height: 75px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
padding-left: 18px;
width: 86px;
padding-right: 10px;
float: right;
margin-top: -1px;
font-size: 16px;
margin-right: -11px;
font-weight: 500;
text-shadow: 3px 3px 1px #333333;
text-align: center;
}

.switch-candy input[disabled]
{
	cursor: default !important;
}
.switch-candy a[disabled]
{
	background-color: #888888;
	cursor: default !important;
}

.security-risks .risk.at-risk .risk-status:after
{
	content: 'At Risk';
	background-color: #AD0000;
	color: white;	
}
.security-risks .risk.safe .risk-status:after
{
	content: 'Safe';
	background-color: #00AD00;
	color: white;	
}
.security-risks .risk.safe .risk-fix
{
display: none;
}

.security-test
{
	padding-bottom: 0px;
	float: right;
	width: 327px;
	margin-left: 14px;
}
.security-test #js-test-refresh
{
	float: right;
	width: 100px;
	border-radius: 5px;
}
.security-test .js-test
{
	margin-bottom: 5px;
}
.security-test .enabled
{
color: #AD0000;
}
.security-test .disabled
{
color: #00AD00;
}

.print-encryption
{
display: none;
}
.print-encryption label
{
width: 96px;
margin-bottom:2px;
text-align:left;
margin-top: 0px;
padding: 13px;
}


.print-encryption input[type=button]#encrypt-button,
.print-encryption input[type=button]#encrypt-remove-button
{
	margin-top:10px;
	margin-bottom:20px;
	font-weight: bolder;
}
.print-encryption input[type=button]
{

}
.print-encryption input[type=text],
.print-encryption input[type=password]
{
margin-bottom: 15px;
width: 76%;
background-color: #fff;
cursor: default;
border-radius: 5px;
border:1px solid #ccc;
height:38px;
box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.45);
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}
#encrypt-remove-button
{
clear: right;
}

.encryption-details
{
}
.encryption-details .encrypting
{
position: relative;
top: 12px;
margin-bottom: -16px;
left: 77px;
}
.encrypting
{
display: none;
position: relative;
top: 14px;
margin-bottom: -16px;
left: 318px;
}

.encryption-buttons{
	overflow:auto;
}
.encrypted
{
display: none;
background-image: url('../images/lock.png');
background-size: 100%;
width: 50px;
height: 63px;
}
.key-details .encrypted
{
left: 633px;
position: absolute;
width: 28px;
height: 35px;
margin-top: -2px;
}
.print-encryption .encrypted
{
position: absolute;
left: 355px;
top: 1px;
}
.coin-wallet .encrypted
{
position: absolute;
margin-left: 180px;
width: 25px;
height: 32px;
margin-top: 5px;
}

.frame-1 .coin-wallet .encrypted,
.frame-2 .coin-wallet .encrypted
{
margin-left: 98px;
margin-top: -6px;
}
.frame-3 .coin-wallet .encrypted
{
margin-left: 0px;
margin-top: 6px;
}

.progress
{
background-image: url('../images/progress.gif');
width:16px;
height:16px;
}


.frame-type,
.design-type
{
overflow: hidden;
display: block;
float: left;
background: #ddd;
margin-bottom: 20px;
border-radius: 10px;
border-top-left-radius: 0px;
z-index: 10;
height: 77px;
max-width: 218px;
}

.selecting.frame-type,
.selecting.design-type
{
border-top-left-radius: 10px;
}

.frame-grid-wrapper
{
z-index: 10000;
max-width: 1102px;
overflow: hidden;
min-height: 78px;
}
.selecting .frame-grid-wrapper
{
overflow: visible;
}


.design-type
{
top: 138px;
height: 77px;
overflow: hidden;
}
.frame-grid-row-header,
.design-grid-row-header
{
display:none;
}
.selecting .frame-grid-row-header,
.selecting .design-grid-row-header
{
display: block;
text-transform: capitalize;
font-size: 24px;
margin-left: 7px;
margin-top: 10px;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
width: 98%;
height: 28px;
float: left;
clear: right;
border-bottom: 2px solid;
}
.selecting .frame-grid-row-header
{
height: 63px;
padding-top: 18px;
text-align: center;
border-top: 2px solid;
margin-top: 6px;
width:400px;
}
.selecting .frame-grid-row-header:hover
{
background-color: #ccc;
}

#current-frame-label
{
margin-bottom: 67px;
}
.frame.selector img
{
border-radius: 5px;
}
.frame-type.selecting,
.design-type.selecting
{
z-index: 11;
top: 0px;
left: 15px;
padding: 10px;
position: absolute;
}
.design-type.selecting
{
max-width: 1114px;
left: -568px;
top: 12px;
height: auto;
}
.frame-type.selecting
{
top: 75px;
left: -279px;
max-width: 689px;
height: auto;
}

.frame-label,
.design-label
{
margin-bottom: 93px;
}
.color-shift-label
{
margin-top: 0px;
}
.design-label
{
margin-top: 47px;
margin-bottom: 74px;
}

.frame-type .selector-grid-row,
.design-type .selector-grid-row
{
background: none;
}

.coin-setup-keys, .coin-setup-print
{
	float: left;
	width: 100%;
}
.instructions
{
	border-color: #ccc;
	width: 100%;
	margin-bottom: 23px;
	border:1px solid #125781;
	padding: 10px;
	color: #444;
	text-align: center;
	font-weight: 500;
	border-radius: 10px;
	padding:30px;
	position:absolute;
	max-width:1170px;

}

.instructions.rng-move-mouse{
	top:183px;
}
.instructions.rng-move-mouse .subtext{
	color: black;
}

.instructions.rng-move-mouse
{
	box-shadow: 1px 3px 25px rgba(18,87,129,0.5);
	background-color: #fff;
}
.instructions.rng-move-mouse p{
	color:#2c8fde;
}

.instructions.rng-move-mouse p em{
	color:#000;
	margin-bottom:10px;
}



.frame.selector,
.design.selector
{
border-radius: 10px;
float: left;
margin: 5px;
background-size: 100%;
display: none;
}
.frame.selector
{
background-color: #888;
border-radius: 10px;
width:205px;
height:67px;
}
.frame.selector img
{
height:67px;
}
.design.selector
{
	width: 205px;
height: 67px;
}
.design.selector.active
{
display: block;
}
.design.selector.fractal
{
	background-position-x: 100px;
}

.footer
{
width: 100%;
clear: both;
height: 100px;
color: #fff;
text-align:center;
}
.footer p
{
width: 715px;
text-align: left;
padding-top: 10px;
margin: 0 auto;
font-size: 12px;
margin-top: 0px;
}

#run-self-tests
{
float: right;
margin-top: 27px;
margin-right: 11px;
width: 123px;
}

.print-instructions
{
float: right;
position: relative;
width: 36%;
background: white;
}
