
@media print 
{
	@page {size: landscape}
	
	#header,
	.coin-setup,
	.print-buttons,
	.menu
	{
		display: none;
	}
	body
	{
		margin: 0px;
		padding: 0px;
	}
	.inner
	{
		max-width: none !important;
	}
	#page.wrapper .inner
	{
		background-color: white !important;
	}
	.coin-wallets
	{
		zoom: 1.00;
	}
	.coin-wallet.zoom-90
	{
		zoom: 0.90;
	}
	.coin-wallet.zoom-95
	{
		zoom: 0.95;
	}
	.coin-wallet.zoom-100
	{
		zoom: 1.00;
	}
	.coin-wallet.zoom-105
	{
		zoom: 1.05;
	}
	.coin-wallet.zoom-110
	{
		zoom: 1.10;
	}
}

body{
	margin:0px;
	padding:0px;
}

.bold
{
font-weight: bold;
}

.large-button {
	font-size: 27px;
	margin-top:20px;
	padding: 16px;
	width:40%;
	height:50px;
}

.button {
	font-size: 15px;
	padding: 10px;
}


.wrapper{
	width:100%;
}

#header{
	width:100%;
	background:url('../images/dark-pattern.png');
	border-bottom:2px solid #000;
	border-top:2px solid #000;
}

#logo{
	margin: auto;
	display: block;
	width:400px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.switch-toggle label
{
cursor: pointer;
}

#page.wrapper .inner{
}

 .wrapper .inner{
	max-width:1050px;
	margin:auto;
}


.coin-type input{

}

.coin-type .coin-type-radio,
.wallet-backup-radio {
	border: 1px solid;
	padding: 4px;
	border-radius: 5px;
	margin: 3px;
	background-color: #eeeeee;
}


label.left-label {
	width: 10%;
	text-align: left;
	display: block;
	height: 30px;
	float: left;
	padding: 8px 13px 5px 17px;
	clear: left;
	font-size: 14px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #fff;
	border: 1px solid #999;
	border-right: none;
	color: #8c8c8c;
}
.coin-setup > div,
.coin-setup > .key-import > div {
	min-height: 50px
}

#form1{
}

input[type=text]{
	height:30px;
	margin:0px;
}

#private-key-wif,
#private-key-hex,
#public-key-hex,
#public-address,
#public-key-checksum,
#public-key-address-checksum,
#public-key-hash160,
#coin-address-verify,
#private-key-checksum
{
	width: 500px;
	display:block;
	float:left;
}

input[readonly],
textarea[readonly]
{
	background-color: #EEEEEE;
}

#private-key-generate {
	display: inline;
	width: 28%;
}

#private-key-generate[disabled]{
	background-color:#d00707;
	border:none;
	opacity:1;
	text-shadow:none;
}

#private-key-generate.enabled{
	background-color:#029d02;
}

#private-key-compressed{
	width:45px;
	float:left;
}

#private-key-input
{
	display: inline;
	width: 70%;
	font-size: 12px;
	float:right;
	border-radius: 3px;
	border: 1px solid #999;
}

.button{
	height:30px;
}

input[type=button]
{
	display:block;
	width: 200px;
	color: white;
	background-color:#0da3da;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
	font-size:0.875rem;
	border: 1px solid #333333;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to  bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    line-height:3px;

}

.print-buttons input[type=button]{
	margin:auto;
}

.coin-setup, #print-settings
{
	margin-top: 30px;
}

.key-import, .key-details, .print-buttons, .random-info
{
	
	padding: 40px 20px 40px 20px;
	border-radius: 10px;
	background-color: #ececec;
	width:66.6%;
	margin-bottom:40px;
	overflow:auto;


}
.key-import
{
	float: left;
}
.random-info
{
	float: right;
	width: 30%;
	padding:20px;
	margin:0 1.5% 0 1.5%;
}
#random-pool
{
	height: 200px;
	font-size: 10px;
	width: 100%;
}

.key-details{
	display:none;
}

.pool-status-bar
{
	height: 20px;
	width: 97%;
	margin: auto;
	background-color: #d00707;
	border-radius:3px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to  bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
}
.pool-status-complete
{
	height: 20px;
	background-color: #029d02;
	border-radius:3px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to  bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
}

.random-info label{
	padding:20px 0px 0px 3px;
}

.random-info label:first-child{
	padding-top:0px;
}
.key-info-public-address label
{
	font-weight: bold;
}
.key-info-public-address input
{
	font-size: 18px;
	font-weight: bold;
}


/*************
* Navigation *
*************/

.menu {
	background-color: #dddddd;

}

.menu ul {
	padding: 0px 10px 0px 10px;
	margin: auto;
	max-width: 1050px;
	text-align: left;
	overflow:auto;
}

.menu ul li {
	display: inline;
	margin: 10px 15px 0px 15px;
	font-size: 14px;
	height: 35px;
	display: block;
	cursor: pointer;
	float: left;
}
.menu ul li.disabled {
	color: gray;
	cursor: default;
}
.menu ul li.active {
	border-bottom: 2px solid #0da3da;
	color:#000;
	text-shadow:0px 0px 3px #fff;
}

ul#steps-menu.menu{
	width:100%;
	max-width:1050px;
	display:block;
	overflow:auto;
	clear:both;
	margin:auto;
	margin-top:30px;
	background:transparent;
}
ul#steps-menu li{
	border-radius:10px;
	padding:20px;
	margin-right:20px;
	height:40px;
	display:block;
	float:left;
	line-height:0px;
	color: white;
	background-color: #0da3da;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
	font-size: 0.875rem;
	border: 1px solid #333333;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
	opacity:0.5;
}

ul#steps-menu li.disabled{
	background-color:#ececec;
	opacity:1;
	color:#888;
	text-shadow:none;
	border:1px solid #888;
}

ul#steps-menu li.active{
	opacity:1;
}

.coin-wallet
{
	width: 1050px;
	height: 299px;
	
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 25px;
	margin-right: 25px;
}

.coin-wallet.zoom-90
{
	zoom: 0.90;
}
.coin-wallet.zoom-95
{
	zoom: 0.95;
}
.coin-wallet.zoom-100
{
	zoom: 1.00;
}
.coin-wallet.zoom-105
{
	zoom: 1.05;
}
.coin-wallet.zoom-110
{
	zoom: 1.10;
}

#print-button
{
	float: left;
clear: both;
margin-left: 22%;
}

input#compress-decompress-button{
	float:left;
	margin-left:10px;
}

.coin-wallets
{
	background-color: white;
}

.coin-wallet-1
{
}

.coin-wallet-2
{
	margin-top: 155px;
}

.coin-wallet-left
{
	float: left;
	width: 331px;
	text-align: center;
	margin-left: 6px;
	margin-top: 9px;
}

.coin-wallet-right
{
	float: right;
	width: 220px;
	text-align: center;
	padding-top: 45px;
	padding-right: 4px;

}

.coin-wallet-address
{
	font-size: 12pt;
	color: white;
}

.coin-wallet-address-qr
{
	margin-top: 77px;
	margin-left: 19px;
	margin-bottom: 68px;
	text-align: left;
}
.coin-wallet-address-qr canvas
{
	width: 103px;
	height: 103px;
}

.coin-wallet-private-key
{
	font-size: 9pt;
	color: white;
}

.coin-wallet-private-key-qr
{
	margin-top: 25px;
	margin-bottom: 23px;
}
.coin-wallet-private-key-qr canvas
{
	width: 132px;
	height: 132px;
}

.back .coin-wallet
{
	width: 1100px;
	height: 361px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.back .coin-wallet-2
{
	margin-top: 95px;
}

.back .coin-wallet-left, 
.back .coin-wallet-right
{
	display: none;
} 

.btc .coin-wallet
{
	background-image: url('../images/PNG/BTC_Front_small.png');
	background-repeat: no-repeat;
}

.back.btc .coin-wallet
{
	background-image: url('../images/PNG/BTC_Back_small.png');
	background-repeat: no-repeat;
}

.ltc .coin-wallet
{
	background-image: url('../images/PNG/LTC_Front_small.png');
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.back.ltc .coin-wallet
{
	background-image: url('../images/PNG/LTC_Back_small.png');
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.nmc .coin-wallet
{
	background-image: url('../images/PNG/NMC_Front_small.png');
	background-repeat: no-repeat;
}

.back.nmc .coin-wallet
{
	background-image: url('../images/PNG/NMC_Back_small.png');
	background-repeat: no-repeat;
}

.ppc .coin-wallet
{
	background-image: url('../images/PNG/PPC_Front_small.png');
	background-repeat: no-repeat;
}

.back.ppc .coin-wallet
{
	background-image: url('../images/PNG/PPC_Back_small.png');
	background-repeat: no-repeat;
}

.switch-toggle{
	width:70%;
	float:left;
}

.switch-toggle.coins{
	width:90%;
}

.switch-toggle.right{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-left:1px solid #fff;
}

.switch-toggle.right a{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

.switch-toggle.switch-2{
	max-width:200px;
}


:focus {
	outline: 0;
}

label::-moz-focus-inner { 
  border: 0; 
}

a:hover, a:active, a:focus {
  outline:0;
  border:none;
}
