
@media print
{
	@page {size: landscape}
	
	.no-print,
	.no-print li,
	.round-block,
	label,
	span,
	em,
	li,
	a,
	.coin-type,
	.left-label
	{
		display: none !important;
	}
	#form1{
		overflow: hidden !important;
	}
	* 
	{
	background-color: none !important;
	border: none !important;
	}
	body
	{
		margin: 0px;
		padding: 0px;
	}
	.inner
	{
		max-width: 1050px !important;
	}
	#page.wrapper .inner
	{
		background-color: white !important;
	}
	.coin-wallets
	{
		background-color: white !important;
		zoom: 1.00;
	}
	.coin-wallet.zoom-90
	{
		zoom: 0.80 !important;
	}
	.coin-wallet.zoom-95
	{
		zoom: 0.85 !important;
	}
	.coin-wallet.zoom-100
	{
		zoom: 0.90 !important;
	}
	.coin-wallet.zoom-105
	{
		zoom: 0.95 !important;
	}
	.coin-wallet.zoom-110
	{
		zoom: 1.00 !important;
	}
	body
	{
	background-color: white !important;
	}
	.donate-reminder
	{
	display: none;
	background: none;
	top: 400px;
	left: 100px;
	position: absolute
	}
	.inner .section, .inner .section .sub-section
	{
		margin:0px;
	}
}

body{
	margin:0px;
	padding:0px;
}

#dark-box{
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height:4000px;
	position:absolute;
	background-color:#000;
	z-index:9999;
	opacity:0.6;
	display:none;
}

.bold
{
font-weight: bold;
}

.large-button {
	font-size: 27px;
	margin-top:20px;
	padding: 16px;
	width:40%;
	height:50px;
}

.button {
	font-size: 15px;
	padding: 10px;
}


.wrapper{
	width:100%;
}

#header{
	width:100%;
	background:url('../images/dark-pattern.png');
	border-bottom:2px solid #000;
	border-top:2px solid #000;
}

.switch-toggle.theme
{
	float: right;
	margin-top: -42px;
	width: 75px;
}

#logo{
	margin: auto;
	display: block;
	width:400px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.section.security .left-label
{
	width: 525px;
	text-align: left;
	
}
.security-questions .switch-toggle
{
	width: 130px;
}

.switch-toggle label
{
cursor: pointer;
}

#page.wrapper .inner{
}

 .wrapper .inner{
	max-width:1050px;
	margin:auto;
}



.coin-type
{
	min-height: 37px;
	margin-bottom: 10px;
	background-color: #eee;
}

.coin-type .coin-type-radio,
.wallet-backup-radio {
	border: 1px solid;
	padding: 4px;
	border-radius: 5px;
	margin: 3px;
	background-color: #eeeeee;
}

.coin-type.new{
}

.coins-grid-wrapper{
	height:auto;
	overflow:auto;
	border-radius:10px;
	z-index:10000;
	max-width: 660px;
}
.coin-grid-row{
	display: block;
	width: 100%;
	height: 0px;
	
	background-color: #eee;
}
.coins-grid-wrapper.selecting .coin-grid-row{
	height: 140px
}

.coins-grid-wrapper .coin{
	display:none;
	width:120px;
	height:140px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	padding:115px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:center 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;

	border:1px solid #fff;
}

.coins-grid-wrapper .coin.active{
	display: block;
}
	
.coins-grid-wrapper.selecting .coin{
	display: block;
	background-color:#eee;
	z-index: 1000;
}

.current-coin{
	display:block;
	width:120px;
	height:140px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px 10px 0px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;
	background-color:#fff;
	float:left;
}

.current-coin em{

	font-weight: bold;
	width: 100%;
	font-style: normal;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
}
.coins-grid-wrapper .coin:hover, 
.coins-grid-wrapper .coin.active{
	background-color:#ddd;
}
.coins-grid-wrapper.selecting{
	width: 100%;
	overflow: visible;
	height: 140px;
	float: left;
	position: relative;
	background-color:#eee;
	margin-bottom: 10px;
}



.coins-grid-wrapper .coin em{
	background-color: #ccc;
	width:100%;
	display:inline-block;
	text-align:center;
	padding-bottom: 5px;
	font-style: normal;
	font-weight: bolder;
	padding-top: 2px;
}

.coin.btc-coin{
	background-image:url('../images/coin-icons/btc-logo.png');
}

.coin.ltc-coin{
	background-image:url('../images/coin-icons/ltc-logo.png');
}

.coin.nmc-coin{
	background-image:url('../images/coin-icons/nmc-logo.png');
}

.coin.nxt-coin{
	background-image:url('../images/coin-icons/nxt-logo.png');
}
.coin.nem-coin{
	background-image:url('../images/coin-icons/nem-logo.png');
}

.coin.ppc-coin{
	background-image:url('../images/coin-icons/ppc-logo.png');
}
.coin.disabled {
	-webkit-filter: grayscale(100%);
	cursor: default !important;
}
.coming-soon{

	position: relative;
	top: -32px;
	float: inherit;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	
	height: 0px;
	font-weight: bolder;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
	font-size: 15px;
}

label.left-label {
	width: 10%;
	text-align: right;
	display: block;
	min-height: 30px;
	float: left;
	padding: 8px 13px 5px 17px;
	clear: left;
	font-size: 14px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #fff;
	border: 1px solid #999;
	border-right: none;
	color: #8c8c8c;
}
.random-info .left-label
{	
	margin-top: 10px;
	width: 115px;
	padding: 5px;
}
.random-info .rng-keep-collecting
{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 158px !important;
}

.coin-setup > div,
.coin-setup > .key-import > div {
	min-height: 50px
}

#form1{
	overflow:auto;
}

input[type=text]{
	height:30px;
	margin:0px;
}

#private-key-wif,
#private-key-hex,
#public-key-hex,
#public-address,
#public-key-checksum,
#public-key-address-checksum,
#public-key-hash160,
#coin-address-verify,
#private-key-checksum
{
	width: 500px;
	display:block;
	float:left;
}

input[readonly],
textarea[readonly]
{
	background-color: #EEEEEE;
	cursor: default;
}

#private-key-generate {
	display: inline;
	width: 28%;
}

#private-key-generate[disabled]{
	background-color:#d00707;
	border:none;
	opacity:1;
	text-shadow:none;
}

#private-key-generate.enabled{
	background-color:#029d02;
}

#private-key-compressed{
	width:45px;
	float:left;
}

#private-key-input
{
	display: inline;
	width: 70%;
	font-size: 12px;
	float:right;
	border-radius: 3px;
	border: 1px solid #999;
}

.button{
	height:30px;
}

input[type=button]
{
	display:block;
	width: 200px;
	color: white;
	background-color:#0da3da;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
	font-size:0.875rem;
	border: 1px solid #333333;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to  bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    line-height:3px;

}

.print-buttons input[type=button]{
	margin:auto;
}

.inner .section, 
.inner .section .sub-section
{
	margin-top: 30px;
}

.round-block
{
	
	padding: 5px 20px 40px 20px;
	border-radius: 10px;
	background-color: #ececec;
	width:66.6%;
	margin-bottom:40px;
	overflow:auto;
	border: 1px solid #e2e2e2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
	

}

.round-block > h3
{
	font-weight: bold;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, .3);
}

.choose-coin
{
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 5px 5px 5px;
}
.key-import
{
	float: left;
	overflow: visible;
}
.random-info
{
	float: right;
	width: 30%;
	padding:20px;
	margin:0 1.5% 0 1.5%;
}
#random-pool
{
	height: 200px;
	font-size: 10px;
	width: 100%;
}

.key-details{
	display:none;
}

.pool-status-bar
{
	height: 20px;
	width: 97%;
	margin: auto;
	background-color: #d00707;
	border-radius:3px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to  bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
}
.pool-status-complete
{
	height: 20px;
	background-color: #029d02;
	border-radius:3px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to  bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
}

.random-info label:first-child{
	padding-top:0px;
}
.key-info-public-address label
{
	font-weight: bold;
}
.key-info-public-address input
{
	font-size: 18px;
	font-weight: bold;
}


/*************
* Navigation *
*************/

.menu {
	background-color: #dddddd;

}

.menu ul {
	padding: 0px 10px 0px 10px;
	margin: auto;
	max-width: 1050px;
	text-align: left;
	overflow:auto;
}

.menu ul li {
	display: inline;
	margin: 10px 15px 0px 15px;
	font-size: 16px;
	height: 35px;
	display: block;
	cursor: pointer;
	float: left;
	font-weight: bold;
}
.menu ul li.disabled {
	color: gray;
	cursor: default;
}
.menu ul li.active {
	border-bottom: 2px solid #0da3da;
	color:#000;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, .3);
}
.menu ul li.right {
	float: right;
}
.menu ul li.menu-key-donate {
font-size: 20px;
margin-top: 5px;
}

ul#coin-setup-menu.menu{
	width: 368px;
	display: block;
	overflow: auto;
	background: transparent;
	float: left;
}

ul#coin-setup-menu li{

	border-radius:10px;
	padding:20px;
	margin-right:20px;
	height:40px;
	list-style-type: none;
	float:left;
	line-height:0px;
	color: white;
	background-color: #0da3da;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
	font-size: 0.875rem;
	border: 1px solid #333333;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
	opacity:0.5;
}

ul#coin-setup-menu li.disabled{
	background-color:#ececec;
	opacity:1;
	color:#888;
	text-shadow:none;
	border:1px solid #888;
}

ul#coin-setup-menu li.active{
	opacity:1;
}

.coin-wallet
{
	width: 1050px;
	height: 299px;
	
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 25px;
	margin-right: 25px;
}

.coin-wallet.zoom-90
{
	zoom: 0.90;
}
.coin-wallet.zoom-95
{
	zoom: 0.95;
}
.coin-wallet.zoom-100
{
	zoom: 1.00;
}
.coin-wallet.zoom-105
{
	zoom: 1.05;
}
.coin-wallet.zoom-110
{
	zoom: 1.10;
}

#print-button
{
	float: left;
	clear: both;
}

input#compress-decompress-button{
	float:left;
	margin-left:10px;
}

.coin-wallets
{
/*	
background-color: white;
*/
}

.coin-wallet-1
{
}

.coin-wallet-2
{
	margin-top: 155px;
}

.coin-wallet-left
{
	float: left;
	width: 331px;
	text-align: center;
	margin-left: 6px;
	margin-top: 9px;
}

.coin-wallet-right
{
	float: right;
	width: 220px;
	text-align: center;
	padding-top: 45px;
	padding-right: 4px;

}

.coin-wallet-address
{
	font-size: 12pt;
	color: white;
}

.coin-wallet-address-qr
{
	margin-top: 77px;
	margin-left: 19px;
	margin-bottom: 68px;
	text-align: left;
}
.coin-wallet-address-qr canvas
{
	width: 103px;
	height: 103px;
}

.coin-wallet-private-key
{
	font-size: 9pt;
	color: white;
}

.coin-wallet-private-key-qr
{
	margin-top: 25px;
	margin-bottom: 23px;
}
.coin-wallet-private-key-qr canvas
{
	width: 132px;
	height: 132px;
}

.back .coin-wallet
{
	width: 1100px;
	height: 361px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.back .coin-wallet-2
{
	margin-top: 95px;
}

.back .coin-wallet-left, 
.back .coin-wallet-right
{
	display: none;
} 

.btc .coin-wallet
{
	background-image: url('../images/PNG/BTC_Front_small.png');
	background-repeat: no-repeat;
}

.back.btc .coin-wallet
{
	background-image: url('../images/PNG/BTC_Back_small.png');
	background-repeat: no-repeat;
}

.ltc .coin-wallet
{
	background-image: url('../images/PNG/LTC_Front_small.png');
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.back.ltc .coin-wallet
{
	background-image: url('../images/PNG/LTC_Back_small.png');
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.nmc .coin-wallet
{
	background-image: url('../images/PNG/NMC_Front_small.png');
	background-repeat: no-repeat;
}

.back.nmc .coin-wallet
{
	background-image: url('../images/PNG/NMC_Back_small.png');
	background-repeat: no-repeat;
}

.ppc .coin-wallet
{
	background-image: url('../images/PNG/PPC_Front_small.png');
	background-repeat: no-repeat;
}

.back.ppc .coin-wallet
{
	background-image: url('../images/PNG/PPC_Back_small.png');
	background-repeat: no-repeat;
}

.switch-toggle{
	width:70%;
	float:left;
}

.switch-toggle.coins{
	width:100%;
}

.switch-toggle.right{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-left:1px solid #fff;
}

.switch-toggle.right a{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

.switch-toggle.switch-2{
	max-width:200px;
}


:focus {
	outline: 0;
}

label::-moz-focus-inner { 
  border: 0; 
}

a:hover, a:active, a:focus {
  outline:0;
  border:none;
}

.key-details .left-label
{
	width: 155px;
	font-size: 12px;
}
#print-settings .left-label
{
	width: 105px;
}

.donate-keys
{
	width: 1025px;
}

.donate-keys .donate-key
{
}
.donate-reminder
{
	float: right;
	cursor: pointer;
	width: 631px;
	font-size: 13px;
	text-align: right;
	background-color: #f2f2f2;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 7px;
	margin-right: 17px;
	margin-top: -16px;
}
.donate-reminder img
{
	margin-left: 10px;
	float: right;
}

.donate-keys .donate-key .coin
{
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	padding-left: 125px;
	margin-bottom: 15px;
}
.donate-keys .donate-key .coin .donate-address
{
	width: 100%;
	height: 80px;
	background-color: #f3f3f3;
	border-radius: 15px;
	text-align: center;
	font-size: 37px;
	padding-top: 20px;
}

body.dark-theme 
{
}
body.dark-theme
{
	background-color: black;
}
body.dark-theme .round-block
{
	border-color: #555555;
	background-color: #3b3b3b;
	color: white;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
	
}
body.dark-theme h3
{
	color: white;
	text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}
body.dark-theme .menu
{
	background-color: #444444;
	color: #dddddd;
}
body.dark-theme .menu li
{
	color: #dddddd;
	border-color: #DADADA;
}
body.dark-theme .coin-type
{
	background-color: #444444;
}
body.dark-theme .coin-type .coin
{
	background-color: #333333;
	border-color: #555555;
}
body.dark-theme .coin-type .coin em
{
	background-color: #222222;
	border-radius: 5px;
}
body.dark-theme .coin-grid-row
{
	background-color: #444444;
}
body.dark-theme .donate-reminder
{
	border-color: #555555;
	background-color: #444444;
	color: #ffffff;
}
body.dark-theme .section.donate .coin .donate-address
{
	border-color: #555555;
	background-color: #555555;
	color: #ffffff;
}
body.dark-theme .menu ul li.disabled
{
	color: #888888;
}
body.dark-theme input[type=text],
body.dark-theme textarea
{
	background-color: #666666;
	border-color: #888888;
	color: white;
}
body.dark-theme input[type=text].reaconly,
body.dark-theme textarea.reaconly
{
}
body.dark-theme label
{
	color: white;
}
body.dark-theme label.left-label
{
	background-color: #555555;
	border-color: #888888;
	color: white;
}
body.dark-theme .trust-items .trust-item
{
	background-color: #555555;
	border-color: #888888;
}
body.dark-theme .trust-items .trust-item em
{
background-color: #666666;
}

.trust-items
{
}

.trust-items .trust-item
{
	float: left;
	margin: 5px;
	background-color: #ddd;
	border-radius: 10px;
	text-align: center;
	width: 120px;
	border: 1px solid;
}

.trust-items .trust-item em
{
	background-color: #cccccc;
	text-decoration: none !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-style: normal;
	padding: 3px;
	font-weight: bold;
	margin-bottom: 5px;
	width: 100%;
	display: inline-block !important;
}

.trust-items .trust-item .trust-image
{
	width: 75px;
	height: 85px;
	margin: auto;
	background-repeat: no-repeat;
}

.trust-items .trust-item.trust-bugs .trust-image
{
	background-image: url('../images/security-bug.png');
}

.trust-items .trust-item.trust-your-os .trust-image
{
	background-image: url('../images/security-os.png');
}

.trust-items .trust-item.trust-your-browser .trust-image
{
	background-image: url('../images/security-browser.png');
}

.trust-items .trust-item.trust-your-network .trust-image
{
	background-image: url('../images/security-network.png');
}

.trust-items .trust-item.trust-this-tool .trust-image
{
	background-image: url('../images/security-this-tool.png');
}
.trust-items .security-level
{
	width: 100%;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 3px;
}
.trust-level-fully .security-level
{
background-color: #cc0000;
}
.trust-level-fully .security-level:before
{
content: "Full Trust";
}
.trust-level-some .security-level
{
background-color: #CC6A00;
}
.trust-level-some .security-level:before
{
content: "Some Trust";
}
.trust-level-zero .security-level
{
background-color: #000000;
}
.trust-level-zero .security-level:before
{
content: "Zero Trust";
}