
@media print 
{
	@page {size: landscape}
	
	#header,
	.coin-setup,
	.print-buttons,
	.menu
	{
		display: none;
	}
	body
	{
		margin: 0px;
		padding: 0px;
	}
	.inner
	{
		max-width: none !important;
	}
	#page.wrapper .inner
	{
		background-color: white !important;
	}
}

body{
	margin:0px;
	padding:0px;
}

.large-button {
	font-size: 27px;
	padding: 16px;
}

.button {
	font-size: 15px;
	padding: 10px;
}


.wrapper{
	width:100%;
}

#header{
	width:100%;
	background:url('images/dark-pattern.png');
	border-bottom:2px solid #000;
	border-top:2px solid #000;
}

#logo{
	margin: auto;
	display: block;
	padding-top: 40px;
	padding-bottom: 30px;
}

#page.wrapper .inner{
	background-color: #f4f4f4;
}

 .wrapper .inner{
	max-width:1050px;
	margin:auto;
}


.coin-type input{

}

.coin-type .coin-type-radio,
.wallet-backup-radio {
	border: 1px solid;
	padding: 4px;
	border-radius: 5px;
	margin: 3px;
	background-color: #eeeeee;
}

.coin-setup label.left-label {
	width: 300px;
	text-align: right;
	display: block;
	height: 40px;
	float: left;
	padding-right: 12px;
	padding-top: 7px;
}
.coin-setup > div,
.coin-setup > .key-import > div {
	min-height: 50px
}

#form1{
}

input[type=text]{
	height:30px;
	margin-bottom:20px;
	margin-left:10px;
}

input[type=button]{
}

#private-key-wif,
#private-key-hex,
#public-key-hex,
#public-address,
#public-key-checksum,
#public-key-address-checksum,
#public-key-hash160,
#coin-address-verify,
#private-key-checksum
{
	width: 500px;
	background-color: #EEEEEE;
}

#private-key-input
{
	width: 500px;
	margin-bottom: 30px;
}
#private-key-submit
{
	margin-left: 441px;
	width: 200px;
}

.coin-setup
{


	padding: 30px;
}

.key-import
{
	border: 1px solid;
	padding: 10px;
	border-radius: 10px;
	background-color: #ececec;

}
.key-details
{
	display: none;
	margin-top: 20px;
	border: 1px solid;
	padding: 10px;
	border-radius: 10px;
	background-color: #ececec;
}

.menu {
	background-color: #dddddd;
}

.menu ul {
	background: #d0d0d0;

	padding: 10px;
	margin: auto;
	max-width: 1030px;
	text-align: left;
}

.menu ul li {
	display: inline;
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}
.menu ul li.disabled {
	color: gray;
	cursor: default;
}
.menu ul li.active {
	background-color: #cccccc;
	border-bottom: 2px solid black;
}

.coin-wallet
{
	width: 1050px;
	height: 299px;

	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 25px;
	margin-right: 25px;
}

.print-buttons
{
	margin-top: 10px;
	text-align: center;
}
.print-buttons .button
{
	margin-left: 160px;
}
	
.coin-wallets
{
	background-color: white;
}

.coin-wallet-1
{
}

.coin-wallet-2
{
	margin-top: 155px;
}

.coin-wallet-left
{
	float: left;
	width: 345px;
	text-align: center;
	margin-left: 6px;
	margin-top: 9px;
}

.coin-wallet-right
{
	float: right;
	width: 213px;
	text-align: center;
	padding-top: 45px;
	padding-right: 4px;

}

.coin-wallet-address
{
	font-size: 12pt;
	color: white;
}

.coin-wallet-address-qr
{
	margin-top: 74px;
	margin-left: 19px;
	margin-bottom: 63px;
	text-align: left;
}
.coin-wallet-address-qr canvas
{
	width: 103px;
	height: 103px;
}

.coin-wallet-private-key
{
	font-size: 10pt;
	color: white;
}

.coin-wallet-private-key-qr
{
	margin-top: 21px;
	margin-bottom: 18px;
}
.coin-wallet-private-key-qr canvas
{
	width: 132px;
	height: 132px;
}

.back .coin-wallet
{
	width: 1100px;
	height: 361px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.back .coin-wallet-2
{
	margin-top: 95px;
}

.back .coin-wallet-left, 
.back .coin-wallet-right
{
	display: none;
} 

.btc .coin-wallet
{
	background-image: url('images/PNG/BTC_Front_small.png');
	background-repeat: none;
}

.back.btc .coin-wallet
{
	background-image: url('images/PNG/BTC_Back_small.png');
	background-repeat: none;
}

.ltc .coin-wallet
{
	background-image: url('images/PNG/LTC_Front_small.png');
	background-repeat: none;
	background-origin: padding-box;
}

.back.ltc .coin-wallet
{
	background-image: url('images/PNG/LTC_Back_small.png');
	background-repeat: none;
	background-origin: padding-box;
}

.nmc .coin-wallet
{
	background-image: url('images/PNG/NMC_Front_small.png');
	background-repeat: none;
}

.back.nmc .coin-wallet
{
	background-image: url('images/PNG/NMC_Back_small.png');
	background-repeat: none;
}